<div id="player-info" data-boxCode="{{$storage.boxCode}}" style="display:none;"></div>
<div youtube-video video-id="{{player.videoId}}" media-content-url="{{player.mediaContentUrl}}" width="{{player.width}}" height="{{player.height}}" video-parameters="player.videoParameters" player-vars="player.playerVars" on-ready="onReady(event)" on-state-change="onStateChange(event)" on-playback-quality-change="onPlaybackQualityChange(event)" on-playback-rate-change="onPlaybackRateChange(event)" on-error="onError(event)" on-api-change="onApiChange(event)" on-controller-ready="onControllerReady(controller)" on-api-loading-failure="onApiLoadingFailure(controller)" ng-hide="!track"></div>
<video autoplay loop id="bgvid" ng-if="isBox && !box.get('isSetup')">
	<source ng-src="videos/box-background.mp4" type="video/mp4">
</video>
<div id="popUps">
    <div id="currentlyPlaying">
        <div class="album-cover">
            <img alt="" ng-src="{{track.get('image')}}" err-src="images/logo_missing.png" />
        </div>
        <div class="music-info">
            <h3>{{track.get('artistInfo')}}</h3>
            <p>{{track.get('trackInfo')}}</p>
        </div>
    </div>
    <div id="voteOff" class="animated" ng-class="(vote.status)?'bounceInUp':bounceOutUp" ng-show="vote.status">
        I guess nobody liked this song! Song Changing in <span class="countdown">{{vote.counter}}</span>
    </div>
</div>
<div class="loading animated" ng-class="(loading)?'fadeIn':'fadeOut'" ng-show="loading">
    <img src="images/loading.jpg" class="animated" ng-class="(loading)?'bounceIn delay-2':'bounceOut'" />
</div>
<script type="text/ng-template" id="boxSetupTmpl">
    <h1>Lets Get Setup...</h1>
    <p>Inside your MVPlayer mobile app, goto Settings > Enter New MVPlayer and enter the code below:</p>
    <h2 class="boxCode">{{$storage.boxCode}}<h2>
</script>