<!--Navbar-Mini-->
<section id="mini-navbar" class="main-navbar hidden-xs hidden-sm">
		<div class="nav">
			<div class="container">
				<div class="row">
					<nav class="col-md-12">
						<div class="logo pull-left">
							<a href="#home">
								<figure>
									<img src="images/alma_logo.png" alt="App Logo"/>
								</figure>
							</a>
						</div>
						<ul class="main-nav pull-right nav-height">
							<li>
								<a href="#features" data-target="#features" data-hover="features" class="home-page">features</a>
							</li>
							<li>
								<a href="#about" data-target="#about" data-hover="about" class="home-page">about</a>
							</li>
							<li>
								<a href="#screenshot" data-target="#screenshot" data-hover="gallery" class="home-page"> press kit</a>
							</li>
							<li>
								<a href="#team" data-target="#team" data-hover="team" class="home-page">team</a>
							</li>
							<li>
								<a href="#contact" data-target="#contact" data-hover="contact" class="home-page">contact</a>  
							</li>
							<li>
								<a ng-click="onlinePlayer()">online player</a>  
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
</section>
<!--Navbar-Mini-->
<!--Navbar-Mobile-->
<div id="mobile-nav" class="visible-xs visible-sm">
	<div class="" id="flyout-container">
		<ul id="menu-mobile" class="nav flyout-menu main-nav nav-height">
			<li class="menu-item">
				<a title="" href="#" data-target="#features" class="home-page">Features</a>
			</li>
			<li class="menu-item">
				<a title="" href="#" data-target="#about" class="home-page">About</a>
			</li>
			<li class="menu-item">
				<a title="" href="#" data-target="#screenshot" class="home-page">Press Kit</a>
			</li>
			<li class="menu-item">
				<a title="" href="#" data-target="#team" class="home-page">Team</a>
			</li>
			<li class="menu-item">
				<a title="" href="#" data-target="#contact" class="home-page">Contact</a>
			</li>
		</ul>
	</div>
	<header>
		<div class="container">
			<ul class="menu-header">
				<li class="pull-left">		
					<a href="#" class="logo">
						<figure>
							<img src="images/alma_logo.png" alt="App Logo"/>
						</figure>
					</a>
				</li>
				<li class="reorder pull-right">
					<a href="#" title=""><i class="fa fa-bars"></i></a>
				</li>
			</ul>
		</div>
	</header>	
</div>
<!--Navbar-Mobile-->
<div class="gallery-wrapper"></div>
	<!--Nav--Bar-->
	<section id="home" class="">
		<section id="navbar" class="main-navbar yo-anim yo-anim-fade-ttb" data-animation-delay="1500">
	  <div class="nav hidden-xs hidden-sm">
	    <div class="container">
	      <div class="row">
	        <nav class="col-md-12">
	          <div class="logo pull-left">
	            <a href="#">
	              <figure>
	                <img src="images/alma_logo.png" alt="App Logo"/>
	              </figure>
	            </a>
	          </div>
	          <ul class="main-nav pull-right">
	            <li>
	              <a href="#features" data-target="#features" data-hover="features" class="current-menu home-page">features</a>
	            </li>
	            <li>
	              <a href="#about" data-target="#about" data-hover="about" class="home-page">about</a>
	            </li>
	            <li>
	              <a href="#screenshot" data-target="#screenshot" data-hover="gallery" class="home-page"> press kit</a>
	            </li>
	            <li>
	              <a href="#team" data-target="#team" data-hover="team" class="home-page">team</a>
	            </li>
	            <li>
	              <a href="#contact" data-target="#contact" data-hover="contact" class="home-page">contact</a>  
	            </li>
	            <li>
	              <a ng-click="onlinePlayer()">online player</a>  
	            </li>
	          </ul>
	        </nav>
	      </div>
	    </div>
	  </div>
	</section>
	<!--Nav--Bar-->
	<div class="home-carousel-wrapper">
		<div id="home-carousel" class="owl-carousel owl-theme">
			<div class="item">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-sm-8 slide-content">
							<header class="yo-anim yo-anim-fade" data-animation-delay="200">
								<h2>Music Videos For All</h2>
							</header>
							<div class="slide-text clearfix">
								<p class="yo-anim yo-anim-fade" data-animation-delay="400">Search, request and watch music videos based on your unique taste. Let the people in room contribute to a queue of music videos</p> 
								<div class="app-buttons yo-anim yo-anim-fade" data-animation-delay="1200">
									<a href="https://itunes.apple.com/us/app/alma-music-video-player/id992255249?mt=8">
										<figure class="icon-app">
											<img src="images/app_store_logo.png"/>
											<img src="images/app_store_logo_dark.png" class="dark-img hidden-xs"/>
										</figure>
										<span class="btn-text">App store</span>
									</a>
									<a href="https://play.google.com/store/apps/details?id=com.cymbit.Almaapp">
										<figure>
											<img src="images/google_play_logo.png"/>
											<img src="images/google_play_logo_dark.png" class="dark-img hidden-xs"/>
										</figure>
										<span>Google Play</span>
									</a>

								</div>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-1 col-sm-4">
							<figure class="hidden-xs yo-anim yo-anim-fade" data-animation-delay="800"><img src="images/stock/phone1.png" alt=""></figure>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-sm-9 slide-content">
							<header>
								<h2>Ut facilisis ut!</h2>
							</header>
							<div class="slide-text">
								<p class="">Fusce leo nisl, ultricies pellentesque tristique ut, faucibus pretium mauris. Integer pharetra vehicula suscipit. Ut ac ipsum neque. Cras sodales sollicitudin rhoncus. Ut facilisis ut mauris sed adipiscing. Integer elementum laoreet sem, ut pharetra massa dignissim sed. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-7 slide-content">
							<header>
								<h2>Perfect to relax</h2>
							</header>
							<div class="slide-text">
								<p class="">Sed tristique placerat orci, at pulvinar dui iaculis fermentum. Mauris a urna sodales, facilisis mauris at, laoreet nunc. Etiam imperdiet porta posuere. Sed ligula metus, facilisis ut libero sit amet, consequat sollicitudin felis. Suspendisse potenti. </p>
							</div>
						</div>
						<div class="col-md-7 col-md-offset-1 col-sm-5">
							<figure class="hidden-xs" data-animation-delay="800"><img src="images/stock/phone2.png" alt=""></figure>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="controls-home yo-anim yo-anim-fade owl-theme" data-animation-delay="1200"></div>
		</div>
		<svg id="bg-polygon" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 102" preserveAspectRatio="none" >
			<polygon points="0,0 100,0 80,70 0,100 " />
		</svg>  
		<svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
			<polygon points="0,0 100,0 100,100"></polygon>
		</svg>
	</div>
</section>
<!--Features-->
<section id="features" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-right yo-anim yo-anim-fade-rtl">features</h1>
	</header>
	<div class="container features-content clearfix">
		<div class="row equal">
			<div id="features-carousel">
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="100">
					<a href="/gallery/ParseID" class="open-overlay feature-hover">
						<i class="icon-users"></i>
						<i class="icon-users icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="300">
					<a href="/gallery/ParseID" class="open-overlay feature-hover">
						<i class="icon-social-dropbox"></i>
						<i class="icon-social-dropbox icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="500">
					<a href="/gallery/ParseID" class="open-overlay feature-hover">
						<i class="icon-pencil"></i>
						<i class="icon-pencil icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="100">
					<a href="/gallery/ParseID" class="open-overlay feature-hover">
						<i class="icon-emoticon-smile"></i>
						<i class="icon-emoticon-smile icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="300">
					<a href="/gallery/ParseID" class="open-overlay feature-hover">
						<i class="icon-game-controller"></i>
						<i class="icon-game-controller icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="500">
					<a href="/gallery/ParseID" class="open-overlay feature-hover">
						<i class="icon-settings"></i>
						<i class="icon-settings icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>	
			</div>
		</div>
	</div>
</section>
<!--Features-->
<!--Video-->
<section id="video-section" style="position: relative" class="main-section section-color">
	<div class="container">
		<header class="yo-anim yo-anim-fade" data-animation-delay="200">
			<!--<i class="fa fa-play"></i>-->
			<h2>Check this video to know more about this app</h2>
		</header>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="video-section yo-anim yo-anim-fade" data-animation-delay="400">
					<div class="video-content" id="embed">
						<iframe src="https://player.vimeo.com/video/118917181?title=0&amp;byline=0&amp;portrait=0" width="945" height="532" frameborder="0" title="Mobile App After Effects Template" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="play"></div>
	<svg id="bg-triangle" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 100,0 0,100"></polygon>
	</svg>	
	<svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 100,0 100,100"></polygon>
	</svg>
</section>
<!--Video-->
<!--About-->
<section id="about" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-left yo-anim yo-anim-fade-ltr">About</h1>
	</header>
	<div class="container">
		<div class="row about-section">
			<div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4 about-screen">
				<figure class="yo-anim yo-anim-fade-ltr" data-animation-delay="200">
					<img src="images/stock/phone3.png"/>
				</figure>
			</div>
			<div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-8">
				<div class="about-content">
					<i class="icon-screen-desktop yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Digital</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
				<div class="about-content">
					<i class="icon-badge yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Brand</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
				<div class="about-content">
					<i class="icon-present yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Design</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row about-section">
			<div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4 about-screen position-right">
				<figure class="yo-anim yo-anim-fade-rtl" data-animation-delay="200">
					<img src="images/stock/phone4.png"/>
				</figure>
			</div>

			<div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-8 position-left">
				<div class="about-content">
					<i class="icon-printer yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Print</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
				<div class="about-content">
					<i class="icon-camera yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Content</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
				<div class="about-content">
					<i class="icon-size-actual yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Responsive</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--About-->
<!--Gallery-->
<section class="screenshot section-color main-section" id="screenshot">
	<header class="section-header  clearfix">
		<h1 class="pull-right light-header yo-anim yo-anim-fade-rtl ">Press Kit</h1>
	</header>
	<div class="clearfix">
		<a href="/assets/images/stock/placeholder.gif" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb" data-animation-delay="100" rel="gallery">
			<figure>
				<img src="http://placehold.it/640x340"/>
			</figure>
			<i class="icon-plus"></i>
		</a>
		<a href="/assets/images/stock/placeholder.gif" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb" data-animation-delay="300" rel="gallery">
			<figure>
				<img src="http://placehold.it/640x340"/>
			</figure>
			<i class="icon-plus"></i>
		</a>
		<a href="/assets/images/stock/placeholder.gif" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb" data-animation-delay="500" rel="gallery">
			<figure>
				<img src="http://placehold.it/640x340"/>
			</figure>
			<i class="icon-plus"></i>
		</a>
		<a href="/assets/images/stock/placeholder.gif" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb" data-animation-delay="700">
			<figure>
				<img src="http://placehold.it/640x340"/>
			</figure>
			<i class="icon-plus"></i>
		</a>
		<a href="/assets/images/stock/placeholder.gif" class="open-overlay gallery-hover yo-anim yo-anim-fade-btt" data-animation-delay="200">
			<figure>
				<img src="http://placehold.it/640x340"/>
			</figure>
			<i class="icon-plus"></i>
		</a>
		<a href="/assets/images/stock/placeholder.gif" class="open-overlay gallery-hover yo-anim yo-anim-fade-btt" data-animation-delay="400">
			<figure>
				<img src="http://placehold.it/640x340"/>
			</figure>
			<i class="icon-plus"></i>
		</a>
		<a href="/assets/images/stock/placeholder.gif" class="open-overlay gallery-hover yo-anim yo-anim-fade-btt" data-animation-delay="800">
			<figure>
				<img src="http://placehold.it/640x340"/>
			</figure>
			<i class="icon-plus"></i>
		</a>
		<a href="/assets/images/stock/placeholder.gif" class="open-overlay gallery-hover yo-anim yo-anim-fade-btt" data-animation-delay="1000">
			<figure>
				<img src="http://placehold.it/640x340"/>
			</figure>
			<i class="icon-plus"></i>
		</a>
	</div>
	<svg id="bg-bottom" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="80" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 100,0 100,70 50,20"></polygon>
	</svg>
	<svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 100,0 100,100"></polygon>
	</svg>
</section>
<!--Gallery-->
<!--Team-->
<section id="team" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-left yo-anim yo-anim-fade-ltr">team</h1>
	</header>
	<div class="container">
		<div class="row equal">
	<div id="team-carousel">
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>	
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Braxton Diggs</h3>
						<span class="pull-right status-member">Chief Executive Officer / Co-Founder</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Braxton Diggs</h3>
					<span class="pull-right status-member">Chief Executive Officer / Co-Founder</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Rafael Melo</h3>
						<span class="pull-right status-member">Chief Creative Officer / Co-Founder</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Rafael Melo</h3>
					<span class="pull-right status-member">Chief Creative Officer / Co-Founder</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Jennifer Rams</h3>
						<span class="pull-right status-member">Project Manager</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Jennifer Rams</h3>
					<span class="pull-right status-member">Project Manager</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Dieter Rams</h3>
						<span class="pull-right status-member">UI / UX Designer</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Dieter Rams</h3>
					<span class="pull-right status-member">UI / UX Designer</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Kate Rush</h3>
						<span class="pull-right status-member">iOS Developer</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Kate Rush</h3>
					<span class="pull-right status-member">iOS Developer</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Aisha Tyler</h3>
						<span class="pull-right status-member">Windows Developer</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Aisha Tyler</h3>
					<span class="pull-right status-member">Windows Developer</span>
				</div>
			</div>
		</div>
		</div>
		<div class="controls-team"></div>
	</div>
</section>
<!--Team-->
<!--NewsLetter-->
<section id="newsletter" class="main-section section-color">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<header>
					<h2>Sign up to our newsletter!</h2>
				</header>
				<form name="newsletter-form" id="newsletter-form" ng-submit="newsletterAdd()">
					<div class="inputs">
						<input type="text" placeholder="Enter your email for the latest MVPlayer news" class="pull-right button-send btn-lg button-mail newsletter-form form-email-error" ng-model="newsletter.email" name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required/>
						<div class="button-submit">
							<div class="" style="display: block; position: relative;">
								<input type="submit" value="Subscribe" class="btn btn-default pull-right button-send btn-lg"/>
								<div class="message-success alert-success alert hidden"><i class="fa fa-check"></i></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<svg id="bg-triangle-top2" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="80" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 70,40 100,100 0,100"></polygon>
	</svg>
	<svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 100,0 100,100"></polygon>
	</svg>
</section>
<script type="text/ng-template" id="newsLetterTmpl">
	<div class="newslettermodal">
		<h1>Online Player</h1>
		<p>Easily send any user on any platform dynamic push notifications using our simple API. No more running your own servers or dealing with platform protocols</p>
		<p><strong>Coming late 2015</strong></p>
		<form name="newsletter-form" id="newsletter-form" ng-submit="newsletterAdd()">
			<div class="inputs">
				<input type="text" placeholder="Enter your email" class="pull-right button-send btn-lg button-mail newsletter-form form-email-error" ng-model="newsletter.email" name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required/>
				<div class="button-submit">
					<div class="" style="display: block; position: relative;">
						<input type="submit" value="Subscribe" class="btn btn-default pull-right button-send btn-lg"/>
						<div class="message-success alert-success alert hidden"><i class="fa fa-check"></i></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</script>
<!--NewsLetter-->
<!--Social Media-->
<section id="social-media" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-right">Get in touch</h1>
	</header>
	<div class="clearfix"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3 social-icon icon-1">
				<a href="#">
					<i class="fa fa-twitter"></i>
					<i class="fa fa-twitter"></i>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 social-icon icon-2">
				<a href="#">
					<i class="fa fa-dribbble"></i>
					<i class="fa fa-dribbble"></i>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 social-icon icon-3">
				<a href="#">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-facebook"></i>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 social-icon icon-4">
				<a href="#">
					<i class="fa fa-pinterest"></i>
					<i class="fa fa-pinterest"></i>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 social-icon icon-5">
				<a href="#">
					<i class="fa fa-youtube"></i>
					<i class="fa fa-youtube"></i>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 social-icon icon-6">
				<a href="#">
					<i class="fa fa-instagram"></i>
					<i class="fa fa-instagram"></i>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 social-icon icon-7">
				<a href="#">
					<i class="fa fa-google-plus"></i>
					<i class="fa fa-google-plus"></i>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 social-icon icon-8">
				<a href="#">
					<i class="fa fa-linkedin"></i>
					<i class="fa fa-linkedin"></i>
				</a>
			</div>
		</div>
	</div>
</section>
<!--Social Media-->
<!--Testimonials-->
<section id="testimonials" class="section-header-out">
	<header class="section-header clearfix">
		<h1 class="pull-left">Testimonials</h1>
	</header>
	<div class="section-bg section-color">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ">
				<div class="owl-carousel owl-theme" id="testimonial-carousel">
				<div class="testimonial-content item">
					<div class="author">
						<h2>Juan Mora</h2>
						<span>oldcool agency</span>
					</div>
					<blockquote class="testimonial">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus. Vivamus cursus aliquet erat cursus lobortis. Suspendisse potenti. Suspendisse convallis iaculis condimentum."</blockquote>
				</div>
				<div class="testimonial-content item">
					<div class="author">
						<h2>John Doe</h2>
						<span>oldcool agency</span>
					</div>
					<blockquote class="testimonial">"Nam lobortis nisl sed tortor sollicitudin, non dignissim orci mollis. Sed commodo nulla eget orci dictum, id ultricies ipsum sodales. Nunc ac turpis a sem ornare egestas quis id sem. Morbi et eros at augue aliquam scelerisque tincidunt at nibh. Sed vitae vulputate turpis, quis mollis dolor. " </blockquote>
				</div>
				<div class="testimonial-content item">
					<div class="author">
						<h2>Ann Tyler</h2>
						<span>oldcool agency</span>
					</div>
					<blockquote class="testimonial">"Integer malesuada nibh felis, id hendrerit risus lacinia non. Aliquam diam turpis, pretium ut nunc id, consequat tempor turpis. Maecenas fermentum magna lacus, eget luctus orci malesuada sit amet. Integer congue nulla nibh, at tincidunt velit ullamcorper sit amet. In lobortis mi eget libero scelerisque, vitae tincidunt justo faucibus." </blockquote>
				</div>
				<div class="testimonial-content item">
					<div class="author">
						<h2>dieter rams</h2>
						<span>oldcool agency</span>
					</div>
					<blockquote class="testimonial">"Aenean condimentum lorem id libero interdum, rhoncus pretium leo aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas mauris risus, sollicitudin porttitor posuere a, luctus quis justo. Etiam eleifend posuere velit, nec congue ligula lacinia et. " </blockquote>
				</div>
				</div>
			</div>
			
		</div>
		<div class="controls-testimonials owl-theme"></div>
	</div>
	</div>
	<svg id="bg-triangle-bottom" class="bg-polygon" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 100,0 50,30"></polygon>

	</svg>
</section>
<section id="clients" class="main-section section-color">
	<div class="container">
		<div class="row">
			<div class="col-xs-6  col-md-3 clients-content">
				<a href="#" class="clients-logo">
					<figure>
						<img class="base-photo" src="http://placehold.it/151x64/000000" alt="client-bw"/>
						<img class="color-photo" src="http://placehold.it/151x64/cccccc" alt="client-color"/>
					</figure>
				</a>
			</div>
			<div class="col-xs-6  col-md-3 clients-content">
				<a href="#" class="clients-logo">
					<figure>
						<img class="base-photo" src="http://placehold.it/151x64/000000" alt="client-bw"/>
						<img class="color-photo" src="http://placehold.it/151x64/cccccc" alt="client-color"/>
					</figure>
				</a>
			</div>
			<div class="col-xs-6  col-md-3 clients-content">
				<a href="#" class="clients-logo">
					<figure>
						<img class="base-photo" src="http://placehold.it/151x64/000000" alt="client-bw"/>
						<img class="color-photo" src="http://placehold.it/151x64/cccccc" alt="client-color"/>
					</figure>
				</a>
			</div>
			<div class="col-xs-6  col-md-3 clients-content">
				<a href="#" class="clients-logo">
					<figure>
						<img class="base-photo" src="http://placehold.it/151x64/000000" alt="client-bw"/>
						<img class="color-photo" src="http://placehold.it/151x64/cccccc" alt="client-color"/>
					</figure>
				</a>
			</div>
		</div>
	</div>
	<svg id="bg-triangle-bottom2" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 100,0 50,30"></polygon>

	</svg>
	<svg id="bg-triangle-color-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		<polygon points="0,0 100,0 100,100"></polygon>
	</svg>
</section>
<!--Testimonials-->
<!--Contact-->
<section id="contact" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-right dark-header">contact</h1>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 contact-form">
				<form name="contact-form" id="contact-form" ng-submit="contactUs()">
					<div class="input-wrapper">
						<input class="contact-form form-name-error" type="text" placeholder="name" ng-model="contact.name" name="name" ng-minlength="2" required><!--<div ng-show="myFormNg.name.$invalid">You must enter a valid name.</div>-->
					</div>
					<div class="input-wrapper">
						<input class="contact-form form-subject-error" type="text" placeholder="subject" ng-model="contact.subject" name="subject" ng-minlength="2" required>
					</div>
					<div class="clearfix"></div>
					<div class="input-wrapper full-width">
						<input class="contact-form form-subject-error" type="email" placeholder="email" ng-model="contact.email "name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
					</div>
					<div class="message">
						<div class="input-wrapper">
							<textarea class="contact-form form-message-error" placeholder="message" ng-model="contact.msg" name="msg" ng-minlength="2" required></textarea>					
						</div>
					</div>
					<div class="button-submit btn-submit">
						<input type="submit" value="Send" class="btn btn-default pull-right button-send btn-lg" ng-disabled="contact-form.$invalid">
						<div class="message-success alert-success alert hidden" style="position: absolute"><i class="fa fa-check"></i></div>
					</div>	
				</form>
			</div>
		</div>
	</div>
</section>
<!--Contact-->
<!--Footer-->
<section id="footer" class="">
	<div class="container">
		<div class="row">
			<nav class="col-md-12">
				<ul class="pull-right footer-nav">
					<li>
						<a href="#" data-target="#features" data-hover="" class="current-menu home-page">features</a>
					</li>
					<li>
						<a href="#" data-target="#about" data-hover="" class="current-menu home-page">about</a>
					</li>
					<li>
						<a href="#" data-target="#screenshot" data-hover="" class="home-page">press kit</a>
					</li>
					<li>
						<a href="#" data-target="#team" data-hover="" class="home-page">team</a>
					</li>
					<li>
						<a href="#" data-target="#contact" data-hover="" class="home-page">contact</a>	
					</li>
				</ul>
				<div class="pull-left copyright">
					Copyright 2015 © <a href="#" title="yosoftware">yosoftware</a>
				</div>
			</nav>
		</div>
	</div>
</section>
<!--Footer-->