<!--About-->
<section id="about" class="main-section light-section">
  <header class="section-header clearfix">
    <h1 class="pull-left yo-anim yo-anim-fade-ltr">About</h1>
  </header>
  <div class="container">
    <div class="row about-section">
      <div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4 about-screen">
        <figure class="yo-anim yo-anim-fade-ltr" data-animation-delay="200">
          <img src="assets/images/stock/phone3.png"/>
        </figure>
      </div>
      <div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-8">
        <div class="about-content">
          <i class="icon-feed yo-anim yo-anim-fade" data-animation-delay="700"></i>
          <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
            <h3>What's Playing</h3>
            <p>Get a live feed of what has been playing and see what other people have been listening to. Find out more information about the artist playing by simplying taping the artist's name.</p>
          </div>
        </div>
        <div class="about-content">
          <i class="icon-bubbles yo-anim yo-anim-fade" data-animation-delay="700"></i>
          <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
            <h3>Get in the Conversation</h3>
            <p>Have something to share about the music video? Now you can, share your thoughts via text, emoticon or image. Chat messages are instant and show up on Alma player so that everone can see.</p>
          </div>
        </div>
        <div class="about-content">
          <i class="icon-star yo-anim yo-anim-fade" data-animation-delay="700"></i>
          <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
            <h3>Social Voting</h3>
            <p>See who is liking or disliking what, your taste in music will be shared with everyone connected with room. Get feedback on if your music selection is what people what to hear.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row about-section">
      <div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4 about-screen position-right">
        <figure class="yo-anim yo-anim-fade-rtl" data-animation-delay="200">
          <img src="assets/images/stock/phone4.png"/>
        </figure>
      </div>

      <div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-8 position-left">
        <div class="about-content">
          <i class="icon-layers yo-anim yo-anim-fade" data-animation-delay="700"></i>
          <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
            <h3>Complete Video Library</h3>
            <p>View any artist's complete music video library, all in one giant list. Also, find music videos that an artist was featured or made an apperance in.</p>
          </div>
        </div>
        <div class="about-content">
          <i class="icon-social-youtube yo-anim yo-anim-fade" data-animation-delay="700"></i>
          <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
            <h3>Get Social with Artist</h3>
            <p>Find indepth information about your favorite artist from biography information to Facebook & Twitter feeds. Stay up to date with any artist all within the Alma app.</p>
          </div>
        </div>
        <div class="about-content">
          <i class="icon-rocket yo-anim yo-anim-fade" data-animation-delay="700"></i>
          <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
            <h3>So Much More...</h3>
            <p>Obtaining artist info is a very important aspect to our app and we are always adding new features. Like... finding similar artist & purchasing music singles from Amazon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About-->