@font-face {
    font-family: 'helvetica_neue_lt_pro45_light';
    src: url('../fonts/helveticaneueltpro-lt-webfont.eot');
    src: url('../fonts/helveticaneueltpro-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-lt-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltpro-lt-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-lt-webfont.svg#helvetica_neue_lt_pro45_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_pro47LtCn';
    src: url('../fonts/helveticaneueltpro-ltcn-webfont.eot');
    src: url('../fonts/helveticaneueltpro-ltcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-ltcn-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltpro-ltcn-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-ltcn-webfont.svg#helvetica_neue_lt_pro47LtCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neue_lt_27ultraLtCn';
    src: url('../fonts/helveticaneueltpro-ultltcn-webfont.eot');
    src: url('../fonts/helveticaneueltpro-ultltcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-ultltcn-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltpro-ultltcn-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-ultltcn-webfont.svg#helvetica_neue_lt_27ultraLtCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import '_colors.scss';
@import 'login.scss';

body {
    background-color: $darkBG;
    color: $textColor;
    letter-spacing: 2px;
}
.modal {
    background-color: $darkBG;
}
body,
h1 {
    font-family: 'helvetica_neue_lt_pro47LtCn';
}
.popup-container {
    .popup {
        background-color: $topBG;
        .popup-head {
            border-bottom-color: $topBorder;
            border-bottom-width: 2px;
            .popup-title {
                color: $coloredLinks;
                font-size:20px;
            }
        }
        .popup-body {
            font-family: 'helvetica_neue_lt_pro45_light';
            padding: 10px 20px;
            font-size: 12px;
            margin: 20px 0;
        }
        .popup-buttons {
            .button {
                &.button-positive {
                    background-color: transparent;
                    border-color: $coloredLinks;
                    color: $coloredLinks;
                    &.activated {
                        background-color: $coloredLinksActivated;
                        color: #FFF;
                    }
                }
                &.button-default {
                    background-color: transparent;
                    border-color: $textColor;
                    color: $textColor;
                    &.activated {
                        background-color: $textColor;
                        color: #000;
                    }
                }
            }
        }
    }
}
.status_dropdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
    color:#FFF;
    box-shadow: 5px 7px 5px rgba(0,0,0,.7);
    i.ion-close,
    i.ion-checkmark-round{
        bottom: 10px;
        position: absolute;
        right: 10px;
        font-size:18px;
    }
    p {
        margin-bottom:5px;
    }
    h2 {
        font-size:16px;
        color:#FFF;
    }
    &.error {
      background-color: #e74c3c;
    }
    &.success {
      background-color: #27ae60;
      h2 {
        margin:0;
      }
    }
}
.bar.bar-header .title {
    color: $textColor;
    font-family: helvetica_neue_lt_pro45_light;
    font-weight:400;
    font-size: 20px;
    i {
        margin-right:10px;
        color: $coloredLinks;
    }
}
.bar-stable .button.button-clear,
.bar-stable .button.dark-arrow {
    color: $coloredLinks;
}

.bar-footer,
.bar-subfooter {
    background-color: $darkBG;
    background-image: linear-gradient(0deg, $topBorder, $topBorder 50%, transparent 50%);
    border-top:2px solid $topBorder;
}
.bar.bar-header {
    background-color: $darkBG;
    background-image: linear-gradient(0deg, $topBorder, $topBorder 50%, transparent 50%);
    border-bottom:2px solid $topBorder;
    .button-clear {
        color: $coloredLinks;
    }
}
.menu-content {
    border-color: $topBorder!important;
    border-width: 2px!important;
}
.dark-button.button-outline {
    color: $coloredLinks;
    border-color: $coloredLinks;
    display: block;
    margin: 0 auto;
    &.activated {
        background-color: $coloredLinksActivated;
    }
}
.dark-list {
    background: rgba(0,0,0,0.01);
    .list-title {
        background: rgba(0,0,0,0.2);
        color: $coloredLinks;
        border-color: $topBorder;
        font-size: 20px;
    }
    .browse-item,
    .item-thumbnail-left {
        background: transparent;
        border-color: $topBorder;
        h2{
            color: $coloredLinks;
        }
        > a.item-content {
            background: transparent;
            min-height: initial;
            padding-right: 25px;
        }
    }
    &.more .item {
        background: transparent;
        border-color: $topBorder;
        h2{
            color: $coloredLinks;
        }
    }
    &.queue {
        .item {
            img {
                top:2px;
            }
            &:first-child {
                border-top:none;
            }
        }
    }
    &.chat-convo .item {
        background: transparent;
        border-color: $topBorder;
        &:first-child {
            border-top: none;
        }
    }
    .item-avatar h2 {
        color: $coloredLinks;
    }
    &.search.list-inset {
        .ion-chevron-right {
            margin:0;
        }
        i {
            color: $coloredLinks;
        }
    }
    .item-image {
        border-color: $topBorder;
    }
    .item-icon-left {
        border-color: $topBorder;
        background: rgba(0,0,0,0.2);
        color: $coloredLinks!important;
    }
}
.dark-menu {
    background-color: $darkBG;
    .animated{
        -webkit-animation-duration: 1s;
    }
    &.menu-left {
        .bar-header.loggedIn {
            height:125px;
            padding:0;
            + .has-header {
                top:125px;
            }
        }
        .scroll {
            height:100%;
        }
        .list {
            height:100%;
            .item-content,
            .item {
                border-right:none;
                border-left:none;
                background:transparent;
                color: $textColor;
                i {
                    color: $coloredLinks;
                }
                &:first-child {
                    border-top:none;
                }
            }
        }
        .logout {
            position: absolute;
            width: 102%;
            bottom: 0;
            border: none;
        }
    }
    .item {
        background: transparent;
        border-color: $topBorder;
        h2 {
            color: $coloredLinks;
        }
        .ion-chevron-right {
            float: right;
            margin-top: 15px;
            margin-right: -10px;
        }
    }
}
body.search{
    #header-search {
        position: absolute;
        top: 12px;
        right: 0;
        z-index: 0;
        margin-right:30px;
        height: 43px;
        text-align: center;
        display:inline-block;
        font-size: 17px;
        vertical-align: top;
        width: calc(100% - 115px);
        z-index: 100;
        .ion-search {
            position: absolute;
            top: -1x;
            left: 5px;
            color: #fff;
            font-size: 20px;
        }
        input.search {
            padding-left: 30px!important;
            height: 32px;
            margin-top:-8px;
            line-height:15px;
            font-size:20px;
            background: transparent;
            color: $textColor;
            border-bottom: 2px solid $coloredLinks;
            &::-webkit-input-placeholder {
               color: $textColor;
               line-height:25px;
            }
        }
        .ion-close {
            position: absolute;
            right: 6px;
            top: -1px;
            color: #fff;
            font-size:20px;
        }
    }
    .bar-header .header-item.title {
        display: none;
    }
    &.platform-ios {
        #header-search {
            top:30px;
        }
    }
}
#loading-bar .bar {
    height: 2px!important;
    padding: 0;
}

.pane {
    background-color: $darkBG;
}

.view-container {
    top: 0;
}
#loading-bar-spinner {
    top: 16px!important;
    right: 10px!important;
    left:auto!important;
}
.ngTruncateToggleText {
    color: $coloredLinks;
}
.item-thumbnail-left {
    min-height:initial;
}
.browse-item {
    color:#444;
}
.input-label {
    width: initial;
}
.menu {
    .bar .title {
        left: 48px;
        text-align: left;
    }
    .profile {
        width:100%;
        position:relative;
        overflow: hidden;
        .img-circle {
            width: 75px;
            height: 75px;
            margin: 5px auto auto;
            position: relative;
            box-shadow: 5px 5px 10px rgba(0,0,0,.7);
            img {
                width: 107%;
                height: 107%;
                margin-left: -2px;
                margin-top: -2px;
            }
            .ion-plus-circled {
                position: absolute;
                bottom: 4px;
                right: 10px;
                font-size: 20px;
            }
        }
        .title {
            position: relative;
            left: 0;
            text-align: center;
            text-shadow: 1px 1px #555;
        }
        .background {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            -webkit-filter: blur(20px);
            -moz-filter: blur(20px);
            -o-filter: blur(20px);
            -ms-filter: blur(20px);
            filter: blur(20px);
            height: 95%;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }
    .item-content,
    .item {
        font-size: 18px;
        i {
            margin-right: 15px;
            font-size: 26px;
        }
    }
    .settings {
        position: absolute;
        right: 15px;
        top: 5px;
        text-shadow: 1px 1px #555;
        z-index: 2;
        i {
            color: $coloredLinks;
            font-size: 30px;
        }
    }
}
.center {
    text-align: center;
}
.img-circle {
    padding: 2px;
    border: 2px solid $coloredLinks;
    border-radius: 100%;
    overflow: hidden;
}
.vote-info {
    vertical-align: bottom;
    margin-top:2px;
    .vote-data {
        display: inline-block;
        position:relative;
        &:first-child {
            margin-right: 4px;
        }
        .ion-thumbsup {
            color: #485A48;
            font-size: 44px;
            display: block;
            position: absolute;
            top: -4px;
            right: 0px;
            z-index: -1;
        }
        .ion-thumbsdown {
            @extend .ion-thumbsup;
            color: #5F4A4A;
            top:0px;
        }
        .selected {
            opacity: .7;
            .ion-thumbsup {
                color: green;
            }
            .ion-thumbsdown {
                color: red;
            }
        }
        span {
            text-align: center;
            display: block;
            position: relative;
            width: 40px;
            height: 40px;
            overflow: hidden;
            font-size: 18px;
            font-weight: bold;
            border: 2px solid $textColor;
            border-radius: 22px;
            opacity: .3;
            padding: 9px;
        }
    }
}
.footer-bar {
    padding:0;
    .row {
        padding: 0;
        .col {
            padding: 0;
            overflow:hidden;
            &:last-child {
                text-align: right;
                padding-right: 10px;
            }
        }
    }
    img {
        height: 44px;
        padding-right: 5px;
        width: 100%;
    }
    h2, p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    h2 {
        font-size: 18px;
        margin: 3px 0 0 0;
        color: $coloredLinks;
    }
    p {
        font-size: 12px;
        color: $textColor;
    }
    a {
        text-decoration: none;
    }
}
.chat {
    .chat-convo {
        margin: 0;
        .chat-item {
            .chat-img {
                display: inline-block;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .chat-bubble {
                position: relative;
                display: inline-block;
                vertical-align: top;
                background: #DDD;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                padding: 10px;
                margin: 0 10px 0 20px;
                width: calc(100% - 75px);
                &:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 9px 14px 9px 0;
                    border-color: transparent #DDD;
                    display: block;
                    width: 0;
                    z-index: 1;
                    left: -14px;
                    top: 8px;
                }
                h2 {
                    color: $coloredLinks;
                }
                p {
                    white-space: initial;
                }
            }
            .chat-timestamp {
                text-align: right;
                margin-top: 5px;
                p {
                    font-size: 12px;
                    color: $coloredLinks;
                }
            }
            &.isSelf {
                .chat-img {
                    float: right;
                }
                .chat-bubble {
                    text-align: right;
                    margin: 0 10px 0 0;
                    &:after {
                        border-width: 9px 0 9px 14px;
                        left: initial;
                        right: -14px;
                    }
                }
                .chat-timestamp {
                    text-align: left;
                    p {
                        color: $coloredLinks;
                    }
                }
            }
        }
    }
    .chat-write {
        text-align: center;
        #chat-input {
            font-size: 18px;
            display:inline-block;
            width: calc(100% - 75px);
            background: transparent;
            background-color: rgba(0,0,0,0.2);
            padding: 2px 15px;
            color: $coloredLinks;
            &::-webkit-input-placeholder {
                color: rgba(204, 96, 85, .2);
                padding-top:4px;
            }
        }
        .button {
            display:inline-block;
            margin-left:5px;
        }
    }
}
.player {
    .item-avatar h2 span {
        color: $textColor;
        font-size: 10px;
    }
    .item p {
        color: $textColor;
    }
    i {
        color: $coloredLinks;
    }
    .item-image {
        img {
            max-height:190px;
        }
        &:after {
            content: "What's Playing Now";
            color: $textColor;
            position: absolute;
            bottom: 40%;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            display: block;
            font-size: 22px;
            padding: 10px 0;
            font-weight: bold;
        }
    }
    .item-avatar > img:first-child {
        padding: 2px;
        border: 2px solid $coloredLinks;
        height: 60px;
        width: 60px;
        max-height:initial;
        max-width: initial;
        left: 5px;
        top: 5px;
    }
}

.queue {
    .ion-chevron-right {
        float: right;
        margin-top: 15px;
    }
    .item {
    	p {
    		margin:0;
    	}
    }
}
.search,
.more {
    .ion-chevron-right,
    .ion-play {
        float: right;
        margin-top: 10px;
    }
    .item-thumbnail-left {
        min-height:75px;
        img {
            top:5px;
        }
    }
}
span.special {
    color: $coloredLinks;
}
.button.activated.dark-button {
    background-color: $coloredLinksActivated;
    color: #FFF;
}
.artist {
	.img-thumbnail {
		width: 100%;
		margin-top: 15px;
		background-color: #333;
		display: inline-block;
		max-width: 100%;
		height: auto;
		padding: 4px;
		line-height: 1.42857143;
		border: 2px solid $topBorder;
		border-radius: 4px;
		-webkit-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.bio {
		padding:0 10px;
	}
	.title {
		margin:10px;
		padding-bottom: 5px;
		border-bottom: 1px solid #666;
		font-size: 24px;
		color: $coloredLinks;
	}
    .ngTruncateToggleText {
        color: $coloredLinks;
    }
}
.empty-list {
    margin: 0 10px;
    text-align: center;
    font-size: 20px;
    padding-top:50px;
}
.nothing-here {
    width: 100%;
    margin-top: 50px;
}
.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;}
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;}
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}
.delay {
    &-1 {
        -webkit-animation-delay: .2s;
    }
    &-2 {
        -webkit-animation-delay: .4s;
    }
    &-3 {
        -webkit-animation-delay: .6s;
    }
    &-4 {
        -webkit-animation-delay: .8s;
    }
    &-5 {
        -webkit-animation-delay: 1s;
    }
    &-6 {
        -webkit-animation-delay: 1.2s;
    }
    &-7 {
        -webkit-animation-delay: 1.4s;
    }
    &-8 {
        -webkit-animation-delay: 1.6s;
    }
    &-9 {
        -webkit-animation-delay: 1.8s;
    }
    &-10 {
        -webkit-animation-delay: 2s;
    }
    &-11 {
        -webkit-animation-delay: 2.2s;
    }
    &-12 {
        -webkit-animation-delay: 2.4s;
    }
}