@import '_colors.scss';
div.input {
	.location-label,
	#location-player {
		border-color: transparent;
		margin-top:50px;
	}
	.location-button {
		margin-top:50px;
		height: 50px;
	}
	&.input-inline-button  {
		.button {
			display: inline-block;
		}
		.input__field {
			width: calc(100% - 102px);
		}
	}
}
.player {
    .item-avatar h2 span {
        color: $textColor;
        font-size: 10px;
    }
    .item p {
        color: $textColor;
    }
    i {
        color: $coloredLinks;
    }
    .item-image {
        img {
            max-height:190px;
        }
        &:after {
            content: "What's Playing Now";
            color: $coloredLinks;
            position: absolute;
            bottom: 40%;
            background-color: rgba(#000, 0.5);
            width: 100%;
            display: block;
            font-size: 22px;
            padding: 10px 0;
            font-weight: bold;
        }
    }
    .item-avatar > img:first-child {
        padding: 2px;
        border: 2px solid $coloredLinks;
        height: 60px;
        width: 60px;
        max-height:initial;
        max-width: initial;
        left: 5px;
        top: 5px;
    }
}