<!--Gallery-->
<section class="screenshot section-color main-section" id="screenshot">
  <header class="section-header  clearfix">
    <h1 class="pull-right yo-anim yo-anim-fade-rtl ">Press Kit</h1>
  </header>
  <div class="clearfix">
    <a href="images/presskit/Icon-60@2x.png" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb icon_img" data-animation-delay="100" rel="gallery">
      <figure>
        <img src="assets/images/presskit/Icon-60@2x.png"/>
      </figure>
      <i class="icon-magnifier"></i>
    </a>
    <a href="images/presskit/chat.png" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb screenshot_img" data-animation-delay="300" rel="gallery">
      <figure>
        <img src="assets/images/presskit/chat.png"/>
      </figure>
      <i class="icon-magnifier"></i>
    </a>
    <a href="images/presskit/artist.png" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb screenshot_img" data-animation-delay="500" rel="gallery">
      <figure>
        <img src="assets/images/presskit/artist.png"/>
      </figure>
      <i class="icon-magnifier"></i>
    </a>
    <a href="images/presskit/menu.png" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb screenshot_img" data-animation-delay="700" rel="gallery">
      <figure>
        <img src="assets/images/presskit/menu.png"/>
      </figure>
      <i class="icon-magnifier"></i>
    </a>
    <a href="images/presskit/discover.png" class="open-overlay gallery-hover yo-anim yo-anim-fade-ttb screenshot_img" data-animation-delay="900" rel="gallery">
      <figure>
        <img src="assets/images/presskit/discover.png"/>
      </figure>
      <i class="icon-magnifier"></i>
    </a>
  </div>
  <svg id="bg-bottom" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="80" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,0 100,70 50,20"></polygon>
  </svg>
  <svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,0 100,100"></polygon>
  </svg>
</section>
<!--Gallery-->