<section id="mini-navbar" class="main-navbar hidden-xs hidden-sm">
		<div class="nav">
			<div class="container">
				<div class="row">
					<nav class="col-md-12">
						<div class="logo pull-left">
							<a href="#home">
								<figure>
									<img src="http://placehold.it/90x30" alt="App Logo"/>
								</figure>
							</a>
						</div>
						<ul class="main-nav pull-right nav-height">
							<li>
								<a href="#features" data-target="#features" data-hover="features" class="home-page">features</a>
							</li>
							<li>
								<a href="#about" data-target="#about" data-hover="about" class="home-page">about</a>
							</li>
							<li>
								<a href="#screenshot" data-target="#screenshot" data-hover="gallery" class="home-page"> press kit</a>
							</li>
							<li>
								<a href="#team" data-target="#team" data-hover="team" class="home-page">team</a>
							</li>
							<li>
								<a href="#contact" data-target="#contact" data-hover="contact" class="home-page">contact</a>	
							</li>
							<li>
								<a ng-click="onlinePlayer()">online player</a>	
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
</section>