node_modules
www
.tmp
.temp
.sass-cache
app/lib
coverage
platforms
*.swp
*.swo
*.log
*.DS_Store
server/node_modules
app/scripts/config.js
resources

dist
.svn/
bower_components
plugins/
platforms/**/
!www/config.xml
!www/res
