node_modules
www
.idea
.temp
.sass-cache
app/lib
app/bower_components
coverage
platforms
*.swp
*.swo
*.log
*.DS_Store
server/node_modules
app/scripts/config.js

dist
.svn/
bower_components
plugins/
platforms/**/
!www/config.xml
!www/res
app/scripts/configuration.js
