node_modules
/www
.idea
.temp
.metadata
.sass-cache
app/lib
app/bower_components
coverage
platforms
*.swp
*.swo
*.log
*.iml
*.DS_Store
server/node_modules
app/scripts/config.js

dist
.svn/
bower_components
platforms/**/
!www/config.xml
!www/res
app/scripts/configuration.js
