<!--Testimonials/Box Information is going here-->
<!--<section id="testimonials" class="section-header-out">
  <header class="section-header clearfix">
    <h1 class="pull-left">Testimonials</h1>
  </header>
  <div class="section-bg section-color">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="owl-carousel owl-theme" id="testimonial-carousel">
        <div class="testimonial-content item">
          <div class="author">
            <h2>Juan Mora</h2>
            <span>oldcool agency</span>
          </div>
          <blockquote class="testimonial">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus. Vivamus cursus aliquet erat cursus lobortis. Suspendisse potenti. Suspendisse convallis iaculis condimentum."</blockquote>
        </div>
        <div class="testimonial-content item">
          <div class="author">
            <h2>John Doe</h2>
            <span>oldcool agency</span>
          </div>
          <blockquote class="testimonial">"Nam lobortis nisl sed tortor sollicitudin, non dignissim orci mollis. Sed commodo nulla eget orci dictum, id ultricies ipsum sodales. Nunc ac turpis a sem ornare egestas quis id sem. Morbi et eros at augue aliquam scelerisque tincidunt at nibh. Sed vitae vulputate turpis, quis mollis dolor. " </blockquote>
        </div>
        <div class="testimonial-content item">
          <div class="author">
            <h2>Ann Tyler</h2>
            <span>oldcool agency</span>
          </div>
          <blockquote class="testimonial">"Integer malesuada nibh felis, id hendrerit risus lacinia non. Aliquam diam turpis, pretium ut nunc id, consequat tempor turpis. Maecenas fermentum magna lacus, eget luctus orci malesuada sit amet. Integer congue nulla nibh, at tincidunt velit ullamcorper sit amet. In lobortis mi eget libero scelerisque, vitae tincidunt justo faucibus." </blockquote>
        </div>
        <div class="testimonial-content item">
          <div class="author">
            <h2>dieter rams</h2>
            <span>oldcool agency</span>
          </div>
          <blockquote class="testimonial">"Aenean condimentum lorem id libero interdum, rhoncus pretium leo aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas mauris risus, sollicitudin porttitor posuere a, luctus quis justo. Etiam eleifend posuere velit, nec congue ligula lacinia et. " </blockquote>
        </div>
        </div>
      </div>
      
    </div>
    <div class="controls-testimonials owl-theme"></div>
  </div>
  </div>
  <svg id="bg-triangle-bottom" class="bg-polygon" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,0 50,30"></polygon>

  </svg>
</section>
<section id="clients" class="main-section section-color">
  <div class="container">
    <div class="row">
      <div class="col-xs-6  col-md-3 clients-content">
        <a href="#" class="clients-logo">
          <figure>
            <img class="base-photo" src="http://placehold.it/151x64/000000" alt="client-bw"/>
            <img class="color-photo" src="http://placehold.it/151x64/cccccc" alt="client-color"/>
          </figure>
        </a>
      </div>
      <div class="col-xs-6  col-md-3 clients-content">
        <a href="#" class="clients-logo">
          <figure>
            <img class="base-photo" src="http://placehold.it/151x64/000000" alt="client-bw"/>
            <img class="color-photo" src="http://placehold.it/151x64/cccccc" alt="client-color"/>
          </figure>
        </a>
      </div>
      <div class="col-xs-6  col-md-3 clients-content">
        <a href="#" class="clients-logo">
          <figure>
            <img class="base-photo" src="http://placehold.it/151x64/000000" alt="client-bw"/>
            <img class="color-photo" src="http://placehold.it/151x64/cccccc" alt="client-color"/>
          </figure>
        </a>
      </div>
      <div class="col-xs-6  col-md-3 clients-content">
        <a href="#" class="clients-logo">
          <figure>
            <img class="base-photo" src="http://placehold.it/151x64/000000" alt="client-bw"/>
            <img class="color-photo" src="http://placehold.it/151x64/cccccc" alt="client-color"/>
          </figure>
        </a>
      </div>
    </div>
  </div>
  <svg id="bg-triangle-bottom2" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,0 50,30"></polygon>

  </svg>
  <svg id="bg-triangle-color-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,0 100,100"></polygon>
  </svg>
</section>-->
<!--Testimonials-->