<!--Features-->
<section id="features" class="main-section light-section">
  <header class="section-header clearfix">
    <h1 class="pull-right yo-anim yo-anim-fade-rtl">features</h1>
  </header>
  <div class="container features-content clearfix">
    <div class="row equal">
      <div id="features-carousel" class="owl-carousel owl-theme">
        <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="100">
          <a href="#" class="open-overlay-false feature-hover">
            <i class="icon-playlist"></i>
            <i class="icon-playlist icon-hover hidden-xs"></i>
          </a>
          <h3>Everyone's Music</h3>
          <p>Everyone can add thier music to a collective queue/list that will get played later in the Alma player. How and when the music gets played is the twist.</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="300">
          <a href="#" class="open-overlay-false feature-hover">
            <i class="icon-like"></i>
            <i class="icon-like icon-hover hidden-xs"></i>
          </a>
          <h3>Be Heard</h3>
          <p>Dislike the song and watch the song move down the queue and possibly get skipped. Like the song? Your song gets saved for later and get your song to play sooner.</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="500">
          <a href="#" class="open-overlay-false feature-hover">
            <i class="icon-users"></i>
            <i class="icon-users icon-hover hidden-xs"></i>
          </a>
          <h3>In-App Interactions</h3>
          <p>Connect with other users within the Alma player, share text, emoticons & even photos amongst everyone. Share that amazing selfe with everyone in the room.</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="700">
          <a href="#" class="open-overlay-false feature-hover">
            <i class="icon-magnifier"></i>
            <i class="icon-magnifier icon-hover hidden-xs"></i>
          </a>
          <h3>Vast Catalog</h3>
          <p>Search for music videos based on your individual taste, with our extensive catalog find undiscovered artists from around the world.</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="900">
          <a href="#" class="open-overlay-false feature-hover">
            <i class="icon-music-tone-alt"></i>
            <i class="icon-music-tone-alt icon-hover hidden-xs"></i>
          </a>
          <h3>Brand New Music</h3>
          <p>Not sure what to play? Not a problem, discover new/trending emerging artists and music videos across the globe.</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="1100">
          <a href="#" class="open-overlay-false feature-hover">
            <i class="icon-heart"></i>
            <i class="icon-heart icon-hover hidden-xs"></i>
          </a>
          <h3>Upcoming Concert Info</h3>
          <p>Love the artist that is playing? Instantly be notified when an artist will have a upcoming concerts. Alos, get live feeds from their social media accounts like Twitter, Facebook & Instagram.</p>
        </div>  
      </div>
    </div>
  </div>
</section>
<!--Features-->