.gallery-wrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@include translate(-90px,0);
	@include opacity(0);
	@include transition(transform 0.5s, opacity 0.5s);
	z-index: 1003;
	#gallery {
		position: relative;
		width: 100%;
		height: 100%;
	}
	article {
		background: $bgColor;
		width: 40%;
		height: 100%;
		padding: 60px 40px;
		top: 0;
		z-index: 100;
		position: relative;
		h2 {
			margin-top: 0;
			margin-bottom: 15px;
		}
		h4 {
			font-style: italic;
			font-size: 300;
		}
		.gallery-description {
			margin: 40px 0;
		}
	}
	.gallery-content {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: $bgSecondColor;
		.controls {
			position: absolute;
			bottom: 30px;
			left: 40px;
			width: 100px;
			height: 40px;
			z-index: 100;
			.owl-prev, .owl-next {
				height: 50px;
				position: absolute;
				top: 50%;
				margin-top: -25px;
			}
			.owl-prev { left: 0;}
			.owl-next { right: 0;}
			i {
				font-size: 24px;
				line-height: 50px;
			}
		}
		&.fullscreen { 
			.gallery { width: 100%; }
			.close-button {
				color: $secondHeaderColor; 
				&:hover {
					color: $textColor;
				}
			}
		}		
	}
	&.animating { 
		.gallery {
			@include opacity(0);
		}
	}
	.gallery {
		width: 60%;
		height: 100%;
		position: relative; 
		
		.hover-fullscreen {
			position: absolute !important;
			top: 50%;
			left: 50%;
			display: block;
			font-size: 26px;
			color: $textColor;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			margin-top: -25px;
			margin-left: -25px;
			@include opacity(0);
			@include transition(opacity .5s);
			i {
				line-height: 50px;
			}
		}
		&:hover { 
			.hover-fullscreen {
				@include opacity(1);
			}
		}
		.hover-normal-size {
			position: absolute !important;
			top: 30px;
			right: 30px;
			width: 50px;
			height: 50px;
			display: block;
			line-height: 50px;
			text-align: center;
			color: $textColor;
			font-size: 26px;
			@include opacity(1); 
		}
	}
	&.overlay-active {
		z-index: 1004;
	}

	&.large-image { 
		.gallery {
			width: 100%;
		}
	}
	&.full-image { 
		#portfolio-images { 
			.item {
				text-align: center;
				width: 100%;	
			}
		}
	}
	.sharer {
		padding: 0;
		position: absolute;
		bottom: 40px;
		left: 40px;
		overflow: hidden;
		margin-bottom: 0;
		li {
			float: left; 
			a {
				color: $textColor;
				padding-right: 17px;
				font-size: 16px;
				position: relative;
				overflow: hidden;
				display: block;
				@include transition(color .3s);
				@include transition-delay(0s);
				&:before {
					content: "/";
					position: absolute;
					right: 5px;
					top: 0;
					color: $textColor;
				}
				&:hover {
					color: $highlightColor;
					&:before {
						color: $textColor;
					}
				}
			}
			&:last-child { 
				a:before {
					display: none;
				}
			}
		}
	}
}
.close-button {
	position: absolute !important;
	z-index: 100;
	top: 30px;
	right: 40px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	cursor: pointer;
	color: $textColor;
	text-align: center;
	@include rotate(0);
	@include transition(color .3s, transform .3s .1s);
  	i {
  		font-size: 30px;
  		line-height: 30px;
  		width: 30px;
  	}
  	&:hover {
  		color: $highlightColor;
  		@include rotate(90deg);
  	}
}