extends layout

block content
	#ytapiplayer
		| You need Flash player 8+ and JavaScript enabled to view this video.
	#popUps
		#currentlyPlaying
			.album-cover
				img(alt='', src='#')
			.music-info
				h3
				p
		#newSong
			h3
			p
		#voteInfo
			img(alt='', src='http://blogs.villagevoice.com/music/assets_c/2014/01/RiffRaffTweets-thumb-560x439.jpg')
			h3.title
				| JODY HiGHROLLER
			div.thumb
				i.fa.fa-4x
		#voteOff.bottom
			| I guess nobody liked this song! Song Changing in 
			span.countdown 10