@import '_colors.scss';
.md-dialog-container {
	p {
		font-size: 16px;
		text-align: center;
	}
}
md-input-container {
	.md-input, label {
		font-size:16px;
	}
}
md-toolbar {
	max-height:65px;
	&.md-alma {
		background-color: $bgSecondColor;
		img.logo {
			height: 50%;
		}
	}
}
button {
	&.md-alma {
		background-color: $bgPrimaryColor!important;
		color: white!important;
		
	}
}
.button_container {
	margin:auto;
	text-align:center;
	button {
		width: 100%;
		max-width:320px;
		font-size: 20px;
	}
}