<div class="modal player_settings_modal" ng-controller="PlayerSettingsDetailCtrl">
  <ion-header-bar>
    <h1 class="title" align-title="center">{{(playerSettings.server.get('name').length)?playerSettings.server.get('name'):'New Player'}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePlayerEdit()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <form name="playerForm" ng-submit="submitForm(playerForm.$valid, playerForm.name.$viewValue, playerForm.address.$viewValue, network.$viewValue, ssid.$viewValue, networkPassword.$viewValue)" novalidate>
        <div class="status_dropdown error animated" ng-class="psd.hasErrors ? 'bounceInDown' : 'bounceOutUp'" ng-show="psd.hasErrors">
          <h2 class="center">Validation Error</h2>
          <p ng-show="playerForm.name.$invalid" class="help-block">- Enter a valid name.</p>
          <p ng-show="playerForm.address.$invalid" class="help-block">- Enter a valid address.</p>
          <i class="ion ion-close" ng-click="psd.hasErrors = false;"></i>
        </div>
        <div class="item item-divider">
          <span class="animated bounceInLeft">Player Information</span>
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" name="name" placeholder="Name" ng-model="name" ng-minlength="4" ng-required="true" ng-change="inputChange('name', name)">
          <i class="ion ion-close-round animated delay-4" ng-class="name.length ? 'fadeIn' : 'fadeOut'" ng-click="name = ''" ng-show="name.length">&nbsp;</i>
        </div>
        <div class="item item-input item-floating-label">
          <span class="input-label">Address</span>
          <input type="text" name="address" placeholder="Address" ng-model="address" ng-minlength="4" ng-required="true" ng-change="inputChange('address', address)">
          <i class="ion ion-close-round animated delay-4" ng-class="address.length ? 'fadeIn' : 'fadeOut'" ng-click="address = ''" ng-show="address.length">&nbsp;</i>
        </div>
        <ul class="list custom-checkbox network">
          <li class="item item-checkbox label-checkbox">
            Network
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
                <input type="radio" name="network" ng-model="network" ng-change="Ethernet()" value="false" ng-checked="network === false"/>
            </label>
            Ethernet
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
                <input type="radio" name="network" ng-model="network" ng-change="wifiNotification()" value="true" ng-checked="network === true" />
            </label>
            WiFi
          </li>
        </ul>
        <div class="item item-input item-floating-label" ng-if="network == 'true'">
          <span class="input-label">Wifi Network</span>
          <input type="text" name="ssid" placeholder="Wifi Network" ng-model="ssid" disabled="disabled">
        </div>
        <div class="item item-input item-floating-label" ng-if="network == 'true' && ssid.length">
          <span class="input-label">Wifi Password</span>
          <input type="password" name="wifiPassword" placeholder="Wifi Password" ng-model="wifiPassword" >
        </div>
        <div class="upload_image animated bounceIn" ng-click="getImage()" ng-class="{ 'has-image': playerSettings.server.get('image')}">
          <img ng-src="{{playerSettings.server.get('image')._url}}">
          <div class="clear-image icon ion-close-circled" ng-click="clearImage();$event.stopPropagation();"></div>
        </div>
        <div class="save_settings">
          <button type="submit" class="button button-stable">
            Save Player
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</div>