<section id="contact" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-right dark-header">contact</h1>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 contact-form">
				<form name="contact-form" id="contact-form" action="#" method="POST" >
					<div class="input-wrapper">
						<input class="contact-form form-name-error" type="text" placeholder="name" name="contact[form-name]" id="form-name">
					</div>
					<div class="input-wrapper">
						<input class="contact-form form-subject-error" type="text" placeholder="subject" name="contact[form-subject]" id="form-subject">
					</div>
					<div class="clearfix"></div>
					<div class="message">
						<div class="input-wrapper">
							<textarea class="contact-form form-message-error" placeholder="message" name="contact[form-message]" id="form-message"></textarea>					
						</div>
					</div>
					<div class="button-submit btn-submit">
						<input type="submit" value="Send" class="btn btn-default pull-right button-send btn-lg">
						<div class="message-success alert-success alert hidden" style="position: absolute"><i class="fa fa-check"></i></div>
					</div>	
				</form>
			</div>
		</div>
	</div>
</section>
