//first version
$bgColor: #fff;
$bgPrimaryColor: #cc6055;
$bgSecondColor: #2f3238;
$headerColor: $bgPrimaryColor;
$secondHeaderColor: #fff;
$textColor: #333;
$textColor2: $secondHeaderColor;
$highlightColor: $bgSecondColor;
$highlightColor2: #2A2A30; 

$topBG: #403E45;
$topBorder: #202227;

// $highlightColor2: #5383e9;


$inputColor: #ededed;
$inputTxtColor: #aaa;

$selectedColor: #cc6055;

//end

// $bgColor: #fff;
// $bgSecondColor: #45B8AC;
// $headerColor: $bgSecondColor;
// $secondHeaderColor: #fff;
// $textColor: #333;
// $textColor2: $secondHeaderColor;
// $highlightColor: $bgSecondColor;
// $highlightColor2: #5383e9;


// $inputColor: #ededed;
// $inputTxtColor: #aaa; 

// $bgColor: #fff;
// $bgSecondColor: #885CD8;
// $headerColor: $bgSecondColor;
// $secondHeaderColor: #fff;
// $textColor: #333;
// $textColor2: $secondHeaderColor;
// $highlightColor: $bgSecondColor;
// $highlightColor2: #FABC4E;


// $inputColor: #ededed;
// $inputTxtColor: #aaa; 

// $bgColor: #fff;
// $bgSecondColor: #62CF5D;
// $headerColor: $bgSecondColor;
// $secondHeaderColor: #fff;
// $textColor: #333;
// $textColor2: $secondHeaderColor;
// $highlightColor: $bgSecondColor;
// $highlightColor2: #f1443e;


// $inputColor: #ededed;
// $inputTxtColor: #aaa; 