@import '_colors.scss';
body.Player {
	background-color:#000;
	.loading {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-color: #000;
		.loading_container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
  			.loading_txt {
  				text-align: center;
  				color:#999;
  			}
		}
	}
	div[ng-view] {
		height: 100%;
		.player_container {
			height:100%;
		}
	}
}
#currentlyPlaying {
	opacity: .8;
	position: absolute;
	visibility: hidden;
	left: -430px;
	transition: 1s;
	top: calc(85% - 150px);
	background-color: black;
	padding: 20px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 0.35);
	-moz-box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 0.35);
	box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 0.35);
	&.active {
		transition: 1s;
		left: 0;
		visibility: visible;
	}
	.album-cover {
		display: inline-block;
		img {
			width: 150px;
		}
	}
	.music-info {
		display: inline-block;
		color: #ec008c;
		vertical-align: top;
		margin: 25px 0 20px 10px;
		text-align: center;
		h3 {
			font-size: 30px;
			white-space: nowrap;
			margin: 0;
		}
		p {
			font-size: 20px;
			white-space: nowrap;
			margin: 0;
		}
	}
}
#voteInfo {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: .7;
	width: 150px;
	img {
		height: 110px;
		width: 110px;
		opacity: .5;
		border-radius: 50%;
		-webkit-box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 1);
		-moz-box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 1);
		box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 1);
	}
	h3.title {
		position: absolute;
		z-index: 1;
		bottom: 25%;
		color: #ec008c;
		margin: 0;
		left: -15px;
		text-align: center;
		width: 150px;
	}
	.thumb {
		position: absolute;
		bottom: 25%;
		text-align: center;
		width: 110px;
		z-index: 2;
		i {
			&.upvote:before {
				content: "\f164";
				color: green;
			}
			&.downvote:before {
				content: "\f165";
				color: red;
			}
		}
	}
}
#voteOff {
	position: absolute;
	width: 100%;
	background-color: black;
	color: white;
	left: 0;
	right: 0;
	opacity: .7;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	transition: 1s;
	display: block;
	top: 40%;
}
video#bgvid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	filter:blur(5px);
	-o-filter:blur(5px);
	-ms-filter:blur(5px);
	-moz-filter:blur(5px);
	-webkit-filter:blur(5px);
}
.ngdialog-boxSetup {
	.ngdialog-content {
		background-color:#000!important;
		opacity: .8;
		color: #FFF!important;
		.boxCode {
		  	color: $bgPrimaryColor;
		  	text-align:right;
		}
  	}
}
.activity-modal {
	opacity: .8;
	background-color: #000;
  	border: 1px solid #000;
  	-webkit-box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 0.35);
	-moz-box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 0.35);
	box-shadow: 3px 3px 5px 0px rgba(236, 0, 140, 0.35);
	max-width:initial;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color: initial;
  	.cg-notify-message-template {
  		color: #eee;
  		padding: 2px 11px 8px 11px;
  		font-size: 11px;
  		img {
  			height:84px;
  			width: 96px;
  			float:left;
  		}
  		.content {
  			float: right;
  			padding: 0 0 5px 0;
  			margin-left:10px;
  			h3 {
  				color: $bgPrimaryColor;
  				font-size: 26px;
			  	font-weight: bold;
			  	padding: 0 0 7px 0;
			  	display: block;
			  	text-shadow: 1px 1px 0 #000;
			  	margin:0;
  			}
  			p{
  				padding: 0;
  				margin: 0;
  				font-size:20px;
  				overflow: initial;
  			}
  		}
  	}
	.cg-notify-close {
		display:none;
	}
}
.delay-2 {
	animation-delay: .6s;
}