<div id="mobile-nav" class="visible-xs visible-sm">
	<div class="" id="flyout-container">
		<ul id="menu-mobile" class="nav flyout-menu main-nav nav-height">
			<li class="menu-item">
				<a title="" href="index.php" data-target="#about" class="home-page">About</a>
			</li>
			<li class="menu-item">
				<a title="" href="index.php" data-target="#screenshot" class="home-page">Gallery</a>
			</li>
			<li class="menu-item">
				<a title="" href="index.php" data-target="#team" class="home-page">Team</a>
			</li>
			<li class="menu-item">
				<a title="" href="index.php" data-target="#contact" class="home-page">Contact</a>
			</li>
			<li class="menu-item">
				<a href="index.php?page=elements" data-hover="" >Elements</a>	
			</li>
		</ul>
	</div>
	<header>
		<div class="container">
		<ul class="menu-header">
			<li class="pull-left">		
				<a href="index.php" class="logo">
					<figure>
						<img src="img/logotype1.png"/>
					</figure>
				</a>
			</li>
			<li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
		</ul>
			</div>
	</header>	
</div>