<div youtube-video video-id="{{player.videoId}}" media-content-url="{{player.mediaContentUrl}}" width="{{player.width}}" height="{{player.height}}" video-parameters="player.videoParameters" player-vars="player.playerVars" on-ready="onReady(event)" on-state-change="onStateChange(event)" on-playback-quality-change="onPlaybackQualityChange(event)" on-playback-rate-change="onPlaybackRateChange(event)" on-error="onError(event)" on-api-change="onApiChange(event)" on-controller-ready="onControllerReady(controller)" on-api-loading-failure="onApiLoadingFailure(controller)" ng-hide="!queueList.length"></div>
<div id="popUps">
    <div id="currentlyPlaying">
        <div class="album-cover">
            <img alt="" ng-src="{{queueList[0].imagePreview}}" />
        </div>
        <div class="music-info">
            <h3>{{queueList[0].artistInfo}}</h3>
            <p>{{queueList[0].trackInfo}}</p>
        </div>
    </div>
    <div id="voteOff" ng-class="voteoff.bannerLocation">
        I guess nobody liked this song! Song Changing in <span class="countdown">{{voteoff.count}}</span>
    </div>
</div>
<script type="text/ng-template" id="loginTmpl">
    <div class="login-form">
        <h3>Login</h3>
        <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
        </div>
        <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass">
            <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        <a class="btn btn-primary btn-lg btn-block" ng-click="doLogin()">Log In</a>
        <p class="modalSwitch">Don&#39;t have an account yet? <a ng-click="switchModal('signupTmpl')">Sign Up Here</a>!</p>
        <a class="login-link" ng-click="lostPassword()">Lost your password?</a>
    </div>
</script>
<script type="text/ng-template" id="signupTmpl">
    <div class="login-form">
        <h3>Sign Up</h3>
        <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
        </div>
        <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass">
            <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        <a class="btn btn-primary btn-lg btn-block" ng-click="doSignup()">Sign Up</a>
        <p class="modalSwitch">Already have an account? <a ng-click="switchModal('loginTmpl')">Login Here</a>!</p>
        <a class="login-link" ng-click="lostPassword()">Lost your password?</a>
    </div>
</script>
<script type="text/ng-template" id="playerSetupTmpl">
    <form id="theForm" class="simform" autocomplete="off">
        <div class="simform-inner">
            <ol class="questions">
                <li>
                    <span><label for="q1">What&#39;s your favorite movie?</label></span>
                    <input id="q1" name="q1" type="text"/>
                </li>
                <li>
                    <span><label for="q2">Where do you live?</label></span>
                    <input id="q2" name="q2" type="text"/>
                </li>
                <li>
                    <span><label for="q3">What time do you got to work?</label></span>
                    <input id="q3" name="q3" type="text"/>
                </li>
                <li>
                    <span><label for="q4">How do you like your veggies?</label></span>
                    <input id="q4" name="q4" type="text"/>
                </li>
                <li>
                    <span><label for="q5">What book inspires you?</label></span>
                    <input id="q5" name="q5" type="text"/>
                </li>
                <li>
                    <span><label for="q6">What&#39;s your profession?</label></span>
                    <input id="q6" name="q6" type="text"/>
                </li>
            </ol><!-- /questions -->
            <button class="submit" type="submit">Send answers</button>
            <div class="controls">
                <button class="next"></button>
                <div class="progress"></div>
                <span class="number">
                    <span class="number-current"></span>
                    <span class="number-total"></span>
                </span>
                <span class="error-message"></span>
            </div><!-- / controls -->
        </div><!-- /simform-inner -->
        <span class="final-message"></span>
    </form><!-- /simform -->
</script>
<script src="assets/javascript/classie.js"></script>
<script src="assets/javascript/stepsForm.js"></script>
<script>
            var theForm = document.getElementById( 'theForm' );

            new stepsForm( theForm, {
                onSubmit : function( form ) {
                    // hide form
                    classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

                    /*
                    form.submit()
                    or
                    AJAX request (maybe show loading indicator while we don't have an answer..)
                    */

                    // let's just simulate something...
                    var messageEl = theForm.querySelector( '.final-message' );
                    messageEl.innerHTML = 'Thank you! We\'ll be in touch.';
                    classie.addClass( messageEl, 'show' );
                }
            } );
        </script>