video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  filter:blur(5px);
  -o-filter:blur(5px);
  -ms-filter:blur(5px);
  -moz-filter:blur(5px);
  -webkit-filter:blur(5px);
}
.ngdialog-boxSetup {
  .ngdialog-content {
    background-color:#000!important;
    @include opacity(.8);
    color: #FFF!important;
    .boxCode {
      color: $bgPrimaryColor;
      text-align:right;
    }
  }
}