<section id="team" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-left yo-anim yo-anim-fade-ltr">team</h1>
	</header>
	<div class="container">
		<div class="row equal">
	<div id="team-carousel">
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>	
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Jessica Chastain</h3>
						<span class="pull-right status-member">CEO / Founder</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Jessica Chastain</h3>
					<span class="pull-right status-member">CEO / Founder</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Meg Brown</h3>
						<span class="pull-right status-member">New Business Manager</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Meg Brown</h3>
					<span class="pull-right status-member">New Business Manager</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Jennifer Rams</h3>
						<span class="pull-right status-member">Project Manager</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Jennifer Rams</h3>
					<span class="pull-right status-member">Project Manager</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Dieter Rams</h3>
						<span class="pull-right status-member">UI / UX Designer</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Dieter Rams</h3>
					<span class="pull-right status-member">UI / UX Designer</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Kate Rush</h3>
						<span class="pull-right status-member">iOS Developer</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Kate Rush</h3>
					<span class="pull-right status-member">iOS Developer</span>
				</div>
			</div>
			<div class="team-member col-xs-12 col-sm-6 col-md-4 yo-anim yo-anim-fade" data-animation-delay="100">
				<div class="photo-member">
					<a href="#">
						<figure>
							<img src="http://placehold.it/480x260"/>
						</figure>
					</a>
				</div>
				<div class="team-hover">
					<div class="personal-data">
						<h3 class="pull-left name">Aisha Tyler</h3>
						<span class="pull-right status-member">Windows Developer</span>
					</div>
					<p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. Nulla ultricies venenatis nisi vitae luctus.</p>
					<ul class="social-media">
						<li>
							<a href="">facebook</a>
						</li>
						<li>
							<a href="">linkedin</a>
						</li>
						<li>
							<a href="">twitter</a>
						</li>
					</ul>
				</div>
				<div class="personal-data hidden-xs">
					<h3 class="pull-left name">Aisha Tyler</h3>
					<span class="pull-right status-member">Windows Developer</span>
				</div>
			</div>
		</div>
		</div>
		<div class="controls-team"></div>
	</div>
</section>