<section id="navbar" class="main-navbar yo-anim yo-anim-fade-ttb" data-animation-delay="1500">
  <div class="nav hidden-xs hidden-sm">
    <div class="container">
      <div class="row">
        <nav class="col-md-12">
          <div class="logo pull-left">
            <a href="#">
              <figure>
                <img src="http://placehold.it/120x40" alt="App Logo"/>
              </figure>
            </a>
          </div>
          <ul class="main-nav pull-right">
            <li>
              <a href="#features" data-target="#features" data-hover="features" class="current-menu home-page">features</a>
            </li>
            <li>
              <a href="#about" data-target="#about" data-hover="about" class="home-page">about</a>
            </li>
            <li>
              <a href="#screenshot" data-target="#screenshot" data-hover="gallery" class="home-page"> press kit</a>
            </li>
            <li>
              <a href="#team" data-target="#team" data-hover="team" class="home-page">team</a>
            </li>
            <li>
              <a href="#contact" data-target="#contact" data-hover="contact" class="home-page">contact</a>  
            </li>
            <li>
              <a ng-click="onlinePlayer()">online player</a>  
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>