<section id="features" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-right yo-anim yo-anim-fade-rtl">features</h1>
	</header>
	<div class="container features-content clearfix">
		<div class="row equal">
			<div id="features-carousel">
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="100">
					<a href="/info_gallery/ParseID" class="open-overlay feature-hover">
						<i class="icon-screen-tablet"></i>
						<i class="icon-screen-tablet icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="300">
					<a href="app2/" class="open-overlay feature-hover">
						<i class="icon-social-dropbox"></i>
						<i class="icon-social-dropbox icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="500">
					<a href="gallery.php" class="open-overlay feature-hover">
						<i class="icon-pencil"></i>
						<i class="icon-pencil icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="100">
					<a href="gallery.php" class="open-overlay feature-hover">
						<i class="icon-emoticon-smile"></i>
						<i class="icon-emoticon-smile icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="300">
					<a href="gallery.php" class="open-overlay feature-hover">
						<i class="icon-game-controller"></i>
						<i class="icon-game-controller icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="500">
					<a href="gallery.php" class="open-overlay feature-hover">
						<i class="icon-settings"></i>
						<i class="icon-settings icon-hover hidden-xs"></i>
					</a>
					<h3>Robust Toolset</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris. </p>
				</div>	
			</div>
		</div>
	</div>
</section>