<!--Video-->
<section id="video-section" style="position: relative" class="main-section section-color">
  <div class="container">
    <header class="yo-anim yo-anim-fade" data-animation-delay="200">
      <h2>Check this video to know more about Alma</h2>
    </header>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="video-section yo-anim yo-anim-fade" data-animation-delay="400">
          <div class="video-content" id="embed">
            <iframe src="https://player.vimeo.com/video/118917181?title=0&amp;byline=0&amp;portrait=0" width="945" height="532" frameborder="0" title="Mobile App After Effects Template" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="play"></div>
  <svg id="bg-triangle" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,0 0,100"></polygon>
  </svg>  
  <svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,0 100,100"></polygon>
  </svg>
</section>
<!--Video-->