<section id="about" class="main-section light-section">
	<header class="section-header clearfix">
		<h1 class="pull-left yo-anim yo-anim-fade-ltr">About</h1>
	</header>
	<div class="container">
		<div class="row about-section">
			<div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4 about-screen">
				<figure class="yo-anim yo-anim-fade-ltr" data-animation-delay="200">
					<img src="assets/images/stock/phone3.png"/>
				</figure>
			</div>
			<div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-8">
				<div class="about-content">
					<i class="icon-screen-desktop yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Digital</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
				<div class="about-content">
					<i class="icon-badge yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Brand</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
				<div class="about-content">
					<i class="icon-present yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Design</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row about-section">
			<div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4 about-screen position-right">
				<figure class="yo-anim yo-anim-fade-rtl" data-animation-delay="200">
					<img src="assets/images/stock/phone4.png"/>
				</figure>
			</div>

			<div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-8 position-left">
				<div class="about-content">
					<i class="icon-printer yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Print</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
				<div class="about-content">
					<i class="icon-camera yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Content</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
				<div class="about-content">
					<i class="icon-size-actual yo-anim yo-anim-fade" data-animation-delay="700"></i>
					<div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
						<h3>Responsive</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, lacus lobortis cursus ultrices, risus velit accumsan sem, at posuere sem ipsum quis mauris.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>