<section id="footer" class="">
	<div class="container">
		<div class="row">
			<nav class="col-md-12">
				<ul class="pull-right footer-nav">
					<li>
						<a href="#" data-target="#about" data-hover="" class="current-menu home-page">about</a>
					</li>
					<li>
						<a href="#" data-target="#screenshot" data-hover="" class="home-page">gallery</a>
					</li>
					<li>
						<a href="#" data-target="#team" data-hover="" class="home-page">team</a>
					</li>
					<li>
						<a href="#" data-target="#contact" data-hover="" class="home-page">contact</a>	
					</li>
				</ul>
				<div class="pull-left copyright">
				Copyright 2015 © <a href="#" title="yosoftware">yosoftware</a>
				</div>
			</nav>
		</div>
	</div>
</section>
