//first version
$bgColor: #fff;
$bgPrimaryColor: #ec008c;
$bgSecondColor: #f1443e;
$headerColor: $bgSecondColor;
$secondHeaderColor: #fff;
$textColor: #333;
$textColor2: $secondHeaderColor;
$highlightColor: $bgSecondColor;
$highlightColor2: #2A2A30; 

// $highlightColor2: #5383e9;


$inputColor: #ededed;
$inputTxtColor: #aaa;

//end

// $bgColor: #fff;
// $bgSecondColor: #45B8AC;
// $headerColor: $bgSecondColor;
// $secondHeaderColor: #fff;
// $textColor: #333;
// $textColor2: $secondHeaderColor;
// $highlightColor: $bgSecondColor;
// $highlightColor2: #5383e9;


// $inputColor: #ededed;
// $inputTxtColor: #aaa; 

// $bgColor: #fff;
// $bgSecondColor: #885CD8;
// $headerColor: $bgSecondColor;
// $secondHeaderColor: #fff;
// $textColor: #333;
// $textColor2: $secondHeaderColor;
// $highlightColor: $bgSecondColor;
// $highlightColor2: #FABC4E;


// $inputColor: #ededed;
// $inputTxtColor: #aaa; 

// $bgColor: #fff;
// $bgSecondColor: #62CF5D;
// $headerColor: $bgSecondColor;
// $secondHeaderColor: #fff;
// $textColor: #333;
// $textColor2: $secondHeaderColor;
// $highlightColor: $bgSecondColor;
// $highlightColor2: #f1443e;


// $inputColor: #ededed;
// $inputTxtColor: #aaa; 