<ion-view title="Chat">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header has-footer chat">
        <div class="list chat-convo">
            <div class="item chat-item" ng-repeat="msgs in msg" my-post-repeat-directive ng-class="{'isSelf' : msgs.self}">
                <div class="chat-img">
                    <img class="img-circle img-border" src="{{msgs.img}}" />
                </div>
                <div class="chat-bubble">
                    <h2>{{msgs.from}}</h2>
                    <p>{{msgs.body}}</p>
                </div>
                <div class="chat-timestamp">
                    <p><i class="ion-clock">&nbsp;</i>{{msgs.timestamp}}</p>
                </div>
            </div>
        </div>
        <div class="list chat-write" ng-init="scrollBottom()">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Tap to write message...">
                </label>
                <button class="button button-small" ng-click="scrollTop()">
                    Send
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>