<ion-view view-title="Chat">
    <ion-content class="chat" ng-Class="{'isEmpty': !chats.length}">
        <div class="list chat-convo" style="min-height:{{windowHeight}}px">
            <div class="item chat-item animated" ng-repeat="chat in chats" my-post-repeat-directive ng-class="{'isSelf' : chat.self, 'fadeIn': loaded}">
                <div class="chat-img">
                    <img class="img-circle img-border" ng-src="{{chat.image}}" />
                </div>
                <div class="chat-bubble">
                    <h2>{{chat.from}}</h2>
                    <p>{{chat.body}}</p>
                </div>
                <div class="chat-timestamp">
                    <p><i class="ion-clock">&nbsp;</i>{{chat.createdAt}}</p>
                </div>
            </div>
            <p ng-show="!chats.length && loaded" class="empty-list">No one has started to chat. Be the first!</p>
        </div>
        <div class="list chat-write" ng-init="scrollBottom()">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" id="chat-input" placeholder="Tap to write message..." ng-model="chat.chatMsg">
                </label>
                <button class="button button-small" ng-click="sendChat(chat)">
                    Send
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>