<ion-view view-title="Chat" cache-view="false" class="chat">
    <ion-content class="has-subfooter" ng-class="{'isEmpty': !chats.length}">
        <div class="list chat-convo dark-list">
            <div class="item chat-item animated" ng-repeat="chat in chats" ng-class="{'isSelf' : chat.self, 'fadeIn': loaded}">
                <div class="chat-img">
                    <img class="img-circle img-border" ng-src="{{chat.image}}" />
                </div>
                <div class="chat-bubble">
                    <h2>{{chat.from}}</h2>
                    <p>{{chat.body}}</p>
                </div>
                <div class="chat-timestamp">
                    <p><i class="ion-clock">&nbsp;</i>{{chat.createdAt}}</p>
                </div>
            </div>
            <p ng-show="!chats.length && loaded" class="empty-list">No one has started to chat. Be the first!</p>
        </div>
       
    </ion-content>
    <ion-subfooter-bar align-title="left" class="bar bar-subfooter chat-write">
        <input type="text" id="chat-input" placeholder="Tap to write message..." ng-model="chat.chatMsg">
        <button class="button button-small button-outline dark-button" ng-click="sendChat(chat)">Send</button>
    </ion-subfooter-bar>
</ion-view>