<ion-view view-title="Discover" ng-style="{'background-image':'url(images/BG.png)'}" class="discover">
    <ion-content scroll="false">
        <ion-tabs class="tabs-icon-only tabs-striped text-only tabs-color-light">
            <ion-tab title="New" on-select="discover.newSelected()">
                <ion-nav-view>
                    <ion-content>
                        <div class="list more dark-list animated fadeIn ordered" ng-show="discover.new.videos.length">
                            <a class="item item-thumbnail-left animated fadeIn" collection-repeat="new in discover.new.videos | limitTo: discover.new.limit" item-height="91px">
                                <img ng-src="{{new.get('artistImage').replace('tv.jpg', 'ov.jpg')}}">
                                <i class="icon ion-play icon-accessory"></i>
                                <h2>{{new.get('artistName')}}</h2>
                                <p>{{new.get('artistTitle')}}</p>
                                <img class="BGImage" ng-src="{{new.get('artistImage').replace('tv.jpg', 'ov.jpg')}}" />
                                <span class="counter">{{$index+1}}.</span>
                            </a>
                        </div>
                        <ion-infinite-scroll on-infinite="discover.loadMoreNew()" distance="1%" ng-if="discover.new.videos.length && !discover.new.limitMax"></ion-infinite-scroll>
                        <p class="empty-list" ng-show="!discover.new.videos.length && discover.new.loaded">It looks like we don't have any music for this section. Check back later!</p>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Top" on-select="discover.topSelected()">
                <ion-nav-view>
                    <ion-content>
                        <div class="list more dark-list animated fadeIn ordered" ng-show="discover.top.week.videos.length">
                            <a class="item item-thumbnail-left animated fadeIn" collection-repeat="top in discover.top.week.videos | limitTo: discover.top.week.limit" item-height="91px">
                                <img ng-src="{{top.get('artistImage').replace('tv.jpg', 'ov.jpg')}}">
                                <i class="icon ion-play icon-accessory"></i>
                                <h2>{{top.get('artistName')}}</h2>
                                <p>{{top.get('artistTitle')}}</p>
                                <img class="BGImage" ng-src="{{top.get('artistImage').replace('tv.jpg', 'ov.jpg')}}" />
                                <span class="counter">{{$index+1}}.</span>
                            </a>
                        </div>
                        <ion-infinite-scroll on-infinite="discover.loadMoreTop()" distance="1%" ng-if="discover.top.week.videos.length  && !discover.top.week.limitMax"></ion-infinite-scroll>
                        <p class="empty-list" ng-show="!discover.top.week.videos.length && discover.top.week.loaded">It looks like we don't have any music for this section. Check back later!</p>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Playlists" on-select="discover.playlistSelected()">
                <ion-nav-view>
                    <ion-content>
                        Playlists
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Genre" on-select="discover.genreSelected()">
                <ion-nav-view>
                    <ion-content>
                        <div class="list genre_list">
        					<a href="app/genre/{{genre.name}}" class="item item-icon-left animated fadeIn delay-{{$index}}" collection-repeat="genre in discover.genres" item-height="91px">
        						<div class="list_content">
    	    						<i class="icon ion-social-youtube-outline"></i>
    	    						#{{genre.get('name')}}
    	    						<span>
    	    							<strong>96</strong> Songs
    	    						</span>
    	    					</div>
        						<img class="BGImage" ng-src="{{genre.get('image')._url}}" ng-style="{'margin-top': '{{genre.get('position')}}{{%}}'}" />
        					</a>
        				</div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>