<ion-view view-title="{{discover.title}}">
    <ion-content>
        <ion-tabs class="tabs-icon-only">
            <ion-tab title="Favorites" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" on-select="isDiscover()">
                <ion-nav-view class="padding">
                    soemthing
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Playlist" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" on-select="isGenre()">
                <ion-nav-view>
                    <div class="list genre_list">
    					<a href="app/genre/{{genre.name}}" class="item item-icon-left" ng-repeat="genre in genres">
    						<div class="list_content">
	    						<i class="icon ion-social-youtube-outline"></i>
	    						#{{genre.get('name')}}
	    						<span>
	    							<strong>96</strong> Songs
	    						</span>
	    					</div>
    						<div class="BGImage" ng-style="{'background-image':'url({{genre.get('image')._url}})', 'background-position-y': '{{genre.get('position')}}px'}"></div>
    					</a>
    				</div>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>


