<ion-view view-title="{{favorites.title}}">
    <ion-content>
        <ion-tabs class="tabs-icon-only">
            <ion-tab title="Favorites" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" on-select="isFavorites()">
                <ion-nav-view class="padding">
                    soemthing
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Playlist" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" on-select="isPlaylist()">
                <ion-nav-view class="padding">
                    More
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>