<ion-footer-bar align-title="left" class="bar-dark">
  <div class="row">
  	<a href="#/app/queue" class="col-20 col">
  		<img src="http://ionicframework.com/img/docs/blue-album.jpg" class=""/>
  	</a>
  	<a href="#/app/queue" class="col-50 col">
  		<h2>Weezer</h2>
  		<p>Blue Album</p>
  	</a>
  	<div class="col-30 col">
  		<div class="vote-info">
            <div class="vote-data">
                <i class="ion-thumbsup"></i>
                <span class="upvote">&nbsp;</span>
            </div>
            <div class="vote-data">
                <i class="ion-thumbsdown"></i>
                <span class="downvote">&nbsp;</span>
            </div>
        </div>
  	</div>
  </div>
</ion-footer-bar>