<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <div class="votePanel" on-swipe-up="onSwipeAction(true)" on-swipe-down="onSwipeAction(false)" ng-if="vote.panel"><!-- on-tap="cancelVote()">-->
            <div class="vote-help" ng-if="vote.action == null">
                <img src="images/upvote.png" class="upvote"/>
                <img src="images/downvote.png" class="downvote"/>
            </div>
            <div class="tick" ng-class="{'active': vote.action == true}"></div>
            <div class="cross" ng-class="{'active': vote.action == false}"></div>
            <div class="defaultbgColor" ng-show="vote.action == null"></div>
            <div class="bgColorTick bgColor" ng-class="{'active': vote.action == true}"></div>
            <div class="bgColorCross bgColor" ng-class="{'active': vote.action == false}"></div>
        </div>
        <div ng-include="'templates/footer.html'"></div>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="dark-menu" watch-menu>
        <header class="bar bar-header bar-stable" ng-class="currentUser._serverData ? 'loggedIn' : 'loggedOut'">
            <a class="profile_settings" nav-clear menu-close href="#/app/settings" ng-if="currentUser._serverData">
                <i class="icon ion-gear-b" ng-class="{'animated bounceIn': ratio}" ng-show="ratio"></i>
            </a>
            <a class="profile_container" nav-clear menu-close ng-if="currentUser._serverData" href="#/app/profile">
                <div class="img-circle" ng-class="{'animated bounceIn': ratio}" ng-show="ratio">
                    <img alt="" ng-src="{{currentUser.get('image')._url}}"/>
                </div>
                <h1 class="title" ng-class="{'animated fadeInLeft': ratio}" ng-if="currentUser._serverData && ratio">{{currentUser.get('name')}}</h1>
                <div class="background" ng-style="{'background-image':'url({{currentUser.get('image')._url}})'}"></div>
            </a>
        </header>
        <ion-content class="has-header" scroll="false" ng-style="{'background-image':'url(images/BG.png)'}">
            <ion-list>
                <ion-item nav-clear menu-close ng-class="{'animated fadeInLeft delay-1': ratio}" ng-click="login();" href="#" ng-if="!currentUser._serverData" ng-show="ratio">
                    <i class="icon ion-person-stalker" ng-class="{'animated bounceIn delay-6': ratio}" ng-show="ratio"></i>Log-in / Sign-up
                </ion-item>
                <ion-item nav-clear menu-close ng-class="{'animated fadeInLeft delay-2': ratio}" ng-show="ratio" href="#/app/dash">
                    <i class="icon ion-home" ng-class="{'animated bounceIn delay-7': ratio}" ng-show="ratio"></i>Dashboard<span class="badge badge-assertive">0</span>
                </ion-item>
                <ion-item menu-close ng-class="{'animated fadeInLeft delay-3': ratio}" ng-show="ratio" href="#app/search/" ng-click="setSearchBar(true)">
                    <i class="icon ion-search" ng-class="{'animated bounceIn delay-8': ratio}" ng-show="ratio"></i>Search
                </ion-item>
                <ion-item nav-clear menu-close ng-class="{'animated fadeInLeft delay-4': ratio}" ng-show="ratio" href="#/app/discover">
                    <i class="icon ion-music-note" ng-class="{'animated bounceIn delay-9': ratio}" ng-show="ratio"></i>Discover
                </ion-item>
                <ion-item nav-clear menu-close ng-class="{'animated fadeInLeft delay-5': ratio}" ng-show="ratio" href="#/app/player">
                    <i class="icon ion-radio-waves"ng-class="{'animated bounceIn delay-10': ratio}" ng-show="ratio"></i>Find a MVPlayer
                </ion-item>
                <ion-item nav-clear menu-close ng-class="{'animated fadeInLeft delay-6': ratio}" ng-show="ratio" href="#/app/music">
                    <i class="icon ion-headphone" ng-class="{'animated bounceIn delay-11': ratio}" ng-show="ratio" ></i>My Music
                </ion-item>
                <ion-item nav-clear class="logout" ng-click="logout();" ng-if="currentUser._serverData">
                    <i class="icon ion-person-stalker animated bounceIn" ng-show="ratio"></i>Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu side="right" class="dark-menu">
        <header class="bar bar-header bar-stable">
            <h1 class="title"><i class="ion-music-note"></i>What's Playing</h1>
        </header>
        <ion-content class="has-header" ng-controller="QueueCtrl">
            <ion-list class="list queue dark-list" ng-show="queue.length">
                <ion-item class="item item-thumbnail-left item-remove-animate" ng-href="#/app/artist/slug/{{video.get('IMVDBartistId')}}" menu-close ng-repeat="video in queue" on-hold="activateVote($index)">
                    <img ng-src="{{video.get('image')}}">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <h2>{{video.get('artistInfo')}}</h2>
                    <p>{{video.get('trackInfo')}}</p>
                    <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteSong($index);$event.stopPropagation();" ng-if="video.get('userId').id === currentUser.id"></ion-option-button>
                </ion-item>
            </ion-list>
            <p ng-show="!queue.length" class="empty-list">Is it quiet in here? No music is playing. Be the first!</p>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>