<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <form id="header-search" ng-submit="doSearch(search.term)" name="searchForm">
              <i class="ion-search"></i>
              <input class="search" name="search" id="search" type="search" placeholder="Search" ng-model="search.term" ng-minlength="1">
              <a class="ion-close clear-search" ng-show="search.term.length" ng-click="search.term = ''"></a>
            </form>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <div ng-include="'templates/footer.html'"></div>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="dark-menu">
        <header class="bar bar-header bar-stable">
            <a class="settings" nav-clear menu-close href="#/app/settings">
                <i class="ion-gear-b"></i>
            </a>
            <div class="profile" ng-show="currentUser._serverData" ng-click="newImage()">
                <div class="img-circle">
                    <img alt="" ng-src="{{currentUser.get('image')._url}}" ng-if="currentUser.get('image')._url"/>
                    <img alt="" ng-src="/images/missingPerson.jpg" ng-if="!currentUser.get('image')._url"/>
                    <i class="icon ion-plus-circled"><i>
                </div>
                <h1 class="title">{{currentUser.get('name')}}</h1>
                <h3 class="info">889 Songs | 2 Followers</h3>
            </div>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ng-click="login();" href="#" ng-if="!currentUser._serverData">
                    <i class="ion-person-stalker"></i>Log-in / Sign-up
                </ion-item>
                <ion-item menu-close href="#app/search/" ng-click="setSearchBar(true)">
                    <i class="ion-search"></i>Search
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/dash">
                    <i class="ion-home"></i>Dashboard
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/browse">
                    <i class="ion-folder"></i>Browse
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/player">
                    <i class="ion-radio-waves"></i>Find a MVPlayer
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/chat">
                    <i class="ion-chatbubbles"></i>Chat
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/music">
                    <i class="ion-headphone"></i>My Music
                </ion-item>
                <ion-item nav-clear ng-click="logout();" ng-if="currentUser._serverData">
                    <i class="ion-person-stalker"></i>Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu side="right" class="dark-menu">
        <header class="bar bar-header bar-stable">
            <h1 class="title"><i class="ion-music-note"></i>What's Playing</h1>
        </header>
        <ion-content class="has-header">
            <ion-list class="list queue dark-list" ng-show="queue_list.length">
                <ion-item class="item item-thumbnail-left item-remove-animate" href="#/app/artist/slug/{{queue.IMVDBartistId}}" menu-close ng-repeat="queue in queue_list">
                    <img ng-src="{{queue.imagePreview}}">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <h2>{{queue.artistInfo}}</h2>
                    <p>{{queue.trackInfo}}</p>
                    <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteSong(queue);$event.stopPropagation();" ng-if="queue.userId === currentUser.id"></ion-option-button>
                </ion-item>
            </ion-list>
            <p ng-show="!queue_list.length" class="empty-list">Is it quiet in here? No music is playing. Be the first!</p>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>