<ion-view title="{{browse.sections[browse.id].title}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header has-footer">
        <div class="list more" ng-show="browse.music.length">
            <a class="item item-thumbnail-left animated" ng-click="findSong(music._serverData.artistName, music._serverData.artistTitle, music._serverData.artistImage)" ng-repeat="music in browse.music" ng-class="{'fadeIn': browse.loaded}">
                <img ng-src="{{music._serverData.artistImage}}">
                <i class="icon ion-play icon-accessory"></i>
                <h2>{{music._serverData.artistName}}</h2>
                <p>{{music._serverData.artistTitle}}</p>
            </a>
        </div>
        <p class="empty-list" ng-show="!browse.music.length && browse.loaded">It looks like we don't have any music for this section. Check back later!</p>
    </ion-content>
</ion-view>