<ion-view view-title="Player Settings" ng-style="{'background-image':'url(images/BG.png)'}" class="player_settings">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-round" ng-click="addNewPlayer()"></a>
  </ion-nav-buttons>
  <ion-content>
  <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="card animated" ng-class="!$storage.initConfig ? 'bounceInUp' : 'bounceOutDown'" ng-show="!$storage.initConfig" style="animation-duration: 1s">
      <div class="item item-text-wrap">
        You need to own a physical Alma Player in your position in order to configure a box. Do you have one? If not go here to <a ng-click="openBrowser('http://quilava.herokuapp.com/')">purchase one in our online store.</a>
        <button class="button button-block button-outline dark-button" ng-click="getStarted()">
          Let's Get Started
        </button>
      </div>
    </div>
    <div class="playerSettings animated delay-5" ng-class="$storage.initConfig ? 'fadeIn' : 'fadeOut'" ng-show="$storage.initConfig">
      <p style="margin:20px 50px;text-align:center;">To add a new Alma Player click the add button above.</p>
      <ion-list can-swipe="true" class="list" ng-if="players.length">
        <ion-item class="item item-avatar fadeInRight" ng-repeat="player in players" ng-click="editPlayer($index)">
          <img ng-src="{{player.get('image')._url}}">
          <h2>{{player.get('name')}}</h2>
          <p>{{player.get('address')}}</p>
          <img class="BGImage" ng-src="{{player.get('image')._url}}" />
          <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deletePlayer($index)"></ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>