<ion-view view-title="Profile">
    <ion-content class="profile_page">
        <div class="profile">
            <a class="profile_settings" href="#/app/settings">
                <i class="icon ion-gear-b animated bounceIn"></i>
            </a>
            <div class="img-circle animated bounceIn" ng-click="updateImage()">
                <img alt="" ng-src="{{currentUser.image}}"/>
                <i class="icon ion-plus-circled"></i>
            </div>
            <h1 class="title animated fadeInLeft">{{currentUser.get('name')}}</h1>
            <div class="background" ng-style="{'background-image':'url({{currentUser.image}})'}"></div>
        </div>
        <ion-tabs class="tabs-icon-only tabs-striped text-only">
            <ion-tab title="My Favs">
                <ion-nav-view class="padding profile-tab-content">
                    soemthing
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="My Playlist">
                <ion-nav-view class="padding profile-tab-content">
                    More
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>