<ion-view view-title="What's Playing">
    <ion-content>
        <div class="list queue" ng-show="queue_list.length">
            <a class="item item-thumbnail-left fx-easing-bounce" href="#/app/artist/slug/{{queue.IMVDBartistId}}" ng-repeat="queue in queue_list">
                <img ng-src="{{queue.imagePreview}}">
                <i class="icon ion-chevron-right icon-accessory"></i>
                <h2>{{queue.artistInfo}}</h2>
                <p>{{queue.trackInfo}}</p>
            </a>
        </div>
        <p ng-show="!queue_list.length" class="empty-list">Is it quiet in here? No music is playing. Be the first!</p>

    </ion-content>
</ion-view>