<ion-view view-title="What's Playing" ng-style="{'background-image':'url(images/BG.png)'}" class="queue">
    <ion-content ng-class="{'has-footer': $storage.connectedPlayer}"><!--Need to hide footer and right menu -->
        <ion-list class="list queue dark-list" ng-show="queue.length">
            <ion-item class="item item-thumbnail-left item-remove-animate" href="#/app/artist/slug/{{video.get('IMVDBartistId')}}" on-hold="activateVote(video)" ng-repeat="video in queue" ng-if="video.get('isActive')">
                <img ng-src="{{video.get('image')}}">
                <i class="icon ion-chevron-right icon-accessory"></i>
                <h2>{{video.get('artistInfo')}}</h2>
                <p>{{video.get('trackInfo')}}</p>
                <ion-option-button class="button-balanced" ng-click="activateVote(video)"><i class="ion-arrow-graph-up-left icon"></i></ion-option-button>
            </ion-item>
            <ion-item class="item item-thumbnail-left item-remove-animate" href="#/app/artist/slug/{{video.get('IMVDBartistId')}}" ng-repeat="video in queue | orderBy: '-counter'" on-hold="activateVote(video)" ng-if="!video.get('isActive')">
                <img ng-src="{{video.get('image')}}">
                <i class="icon ion-chevron-right icon-accessory"></i>
                <h2>{{video.get('artistInfo')}}</h2>
                <p>{{video.get('trackInfo')}}</p>
                <ion-option-button class="button-balanced" ng-click="activateVote(video)"><i class="ion-arrow-graph-up-left icon"></i></ion-option-button>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteSong($index)" ng-if="video.get('userId').id === currentUser.id"></ion-option-button>
            </ion-item>
        </ion-list>
        <p ng-show="!queue.length" class="empty-list">Is it quiet in here? No music is playing. Be the first!</p>
    </ion-content>
</ion-view>