<ion-view title="Search">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header has-footer">
        <div class="list card search" ng-show="search.tracks.length">
            <div class="item item-divider">
                Tracks
            </div>
            <a class="item item-thumbnail-left" ng-repeat="track in search.tracks" ng-click="addSong(track.id, track.artists[0].name, track.song_title, track.image.o)">
                <img src="{{track.image.o}}">
                <i class="icon ion-play icon-accessory"></i>
                <h2>{{track.artists[0].name}}</h2>
                <p>{{track.song_title}}</p>
            </a>
        </div>
        <div class="list card search" ng-show="search.artists.length">
            <div class="item item-divider">
                Artist
            </div>
            <a class="item item-thumbnail-left" href="#/app/artist/id/{{artist.id}}"  ng-repeat="artist in search.artists" ng-click="setSearchBar(false)">
                <img src="{{checkImage(artist.image)}}">
                <i class="icon ion-chevron-right icon-accessory"></i>
                <h2>{{convertSlug(artist.name, artist.slug)}}</h2>
            </a>
        </div>
       	<p class="empty-list" ng-show="!search.tracks.length && !search.artists.length && search.loaded">We didn't find anything. Try reprashing your search.</p>
    </ion-content>
</ion-view>