<ion-view title="Search" ng-style="{'background-image':'url(images/BG.png)'}" class="search">
    <ion-nav-title>
        <form id="header-search" name="searchForm">
            <i class="ion-search"></i>
            <input class="search_input" name="search" id="search" type="text" placeholder="Search" ng-model="search.term" ng-model-options="{debounce: 500}">
            <a class="ion-close clear-search" ng-show="search.term.length" ng-click="search.term = ''"></a>
        </form>
    </ion-nav-title>
    <ion-content scroll="false">
         <ion-tabs class="tabs-icon-only tabs-striped text-only tabs-color-light">
            <ion-tab title="Tracks" on-select="search.activateTab(0)">
                <ion-nav-view>
                    <ion-content>
                        <div class="list more dark-list ordered" ng-show="search.tracks.results.length">
                            <a class="item item-thumbnail-left" collection-repeat="track in search.tracks.results" item-height="91px" ng-click="search.submitSong($index)">
                                <img ng-src="{{track.image.o}}">
                                <i class="icon ion-play icon-accessory"></i>
                                <h2>{{track.artists[0].name}}</h2>
                                <p>{{track.song_title}}</p>
                                <img class="BGImage" ng-src="{{track.image.o}}" />
                            </a>
                            <ion-infinite-scroll on-infinite="loadMoreSearch('videos', 'tracks')" distance="1%" ng-if="!search.tracks.maxed && search.tracks.loaded" immediate-check="false"></ion-infinite-scroll>
                        </div>
                        <p class="empty-list" ng-show="!search.tracks.results.length && search.tracks.loaded">It looks like we don't have any music for this section. Check back later!</p>
                        <div class="list list-inset dark-list search search-history"  ng-show="!search.tracks.results.length && $storage.search.tracks.length > 0 && !search.tracks.loaded" ng-if="$storage.search.tracks.length > 0">
                            <div class="item item-divider list-title">
                                <i class="ion-heart icon"></i>&nbsp;Previously Searched Tracks
                            </div>
                            <a class="item browse-item" ng-repeat="track in $storage.search.tracks" ng-click="search.setSearch('{{track}}')">
                                <i class="icon ion-search"></i>
                                <i class="icon ion-chevron-right icon-accessory"></i>
                                {{track}}
                            </a>
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Artist" on-select="search.activateTab(1)">
                <ion-nav-view>
                    <ion-content>
                        <div class="list more dark-list ordered" ng-show="search.artist.results.length">
                            <a class="item item-thumbnail-left" ng-href="#/app/artist/id/{{artist.id}}" collection-repeat="artist in search.artist.results" item-height="91px">
                                <div style= "width: 100px;overflow: hidden;height: 80px;position: absolute;left: 10px;top:4px;">
                                    <img ng-src="{{search.checkImage(artist.image)}}" style="width:100%;  min-height: 80px;">
                                </div>
                                <i class="icon ion-play icon-accessory"></i>
                                <h2>{{search.convertSlug(artist.name, artist.slug)}}</h2>
                                <img class="BGImage" ng-src="{{search.checkImage(artist.image)}}" />
                            </a>
                            <ion-infinite-scroll on-infinite="loadMoreSearch('entities', 'artist')" distance="1%" ng-if="!search.artist.maxed && search.artist.loaded" immediate-check="false"></ion-infinite-scroll>
                        </div>
                        <p class="empty-list" ng-show="!search.artist.results.length && search.artist.loaded">It looks like we don't have any music for this section. Check back later!</p>
                        <div class="list list-inset dark-list search search-history" ng-show="!search.artist.results.length && $storage.search.artist.length > 0 && !search.artist.loaded"  ng-if="$storage.search.artist.length > 0">
                            <div class="item item-divider list-title">
                                <i class="ion-heart icon"></i>&nbsp;Previously Searched Artist
                            </div>
                            <a class="item browse-item" ng-repeat="artist in $storage.search.artist" ng-click="search.setSearch('{{artist}}')">
                                <i class="icon ion-search"></i>
                                <i class="icon ion-chevron-right icon-accessory"></i>
                                {{artist}}
                            </a>
                        </div>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Playlists" on-select="search.activateTab(2)">
                <ion-nav-view>
                    <ion-content>
                        <div class="list more dark-list ordered" ng-show="search.playlist.results.length">
                            <a class="item item-thumbnail-left" collection-repeat="playlist in search.playlist.results" item-height="91px">
                                <img ng-src="{{playlist.get('image')}}">
                                <i class="icon ion-play icon-accessory"></i>
                                <h2>{{playlist.get('name')}}</h2>
                                <p>{{playlist.get('description')}}</p>
                                <img class="BGImage" ng-src="{{playlist.get('image')}}" />
                            </a>
                        </div>
                        <ion-infinite-scroll on-infinite="loadMoreSearch('Playlist', 'playlist')" distance="1%" ng-if="search.playlist.results.length && !search.playlist.maxed"></ion-infinite-scroll>
                        <p class="empty-list" ng-show="!search.playlist.results.length && search.playlist.loaded">It looks like we don't have any music for this section. Check back later!</p>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
    </ion-content>
</ion-view>